<script type="text/x-template" id="_AccountDialog">
  <div>
    <v-dialog v-model="shown_" scrollable @click:outside="history.back()" max-width="400px">
      <v-card v-if="page == 1">
        <v-card-title>用户信息</v-card-title>
        <v-divider />
        <template v-if="account">
          <div class="d-flex ma-5 align-center">
            <v-avatar class="mr-2" rounded color="grey lighten-3" size="56">
              <dx-img :src="faceimg" userAvatar ref="faceimg"></dx-img>
            </v-avatar>

            <div>
              <div class="text-h6">{{ account.username }}</div>
              <div class="caption" style="color: #BDBDBD">{{ account.signature }}</div>
            </div>
            <v-spacer />
            <v-icon
              :color="sex_val == 1 ? 'primary' : 'purple accent-1'"
            >{{ sex_val == 1 ? 'mdi-face-man' : 'mdi-face-woman' }}</v-icon>
          </div>
          <v-divider />
          <div class="ma-5">
            <div class="text--accent-1 mb-1">基本信息</div>
            <div class="text-lg-caption mb-1">
              <span>ID号：</span>
              <span style="color: #BDBDBD">{{ account.userId }}</span>
            </div>
            <!--<div class="text-lg-caption mb-1">
              <span>最近 IP：</span>
              <span style="color: #BDBDBD">{{ account.lastLoginIp }}</span>
            </div>-->
          </div>
          <!--<div class="ma-5">
            <div class="text--accent-1">
              其他信息
            </div>
            <div class="text-lg-caption">
              <span style="color: #BDBDBD">{{ account.describe }}</span>
            </div>
          </div>-->
        </template>
        <template v-else>
          <div class="text-center pa-5" style="color: #999999">加载中</div>
        </template>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" text @click="close">取消</v-btn>
          <v-btn color="primary" text v-if="isMe()" @click="changeToEditPage">修改信息</v-btn>
          <div class="mb-4"></div>
        </v-card-actions>
      </v-card>
      <v-card v-if="page == 2" class="pa-3 d-flex">
        <v-card-title>修改个人信息</v-card-title>
        <v-container>
          <v-row>
            <v-text-field
              v-model="account.username"
              outlined
              disabled
              counter="20"
              class="ml-3 mr-3"
              label="昵称"
            ></v-text-field>

            <div class="text-lg-caption mb-1">
              <v-avatar class="mr-2" rounded color="grey lighten-3" size="56">
                <dx-img :src="faceimg" userAvatar ref="faceimg" style="width:50px;height:50px;"></dx-img>
              </v-avatar>
            </div>
          </v-row>

          <v-menu
            ref="menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <v-date-picker v-model="account.birthday" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">放弃</v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(date)">确定</v-btn>
            </v-date-picker>
          </v-menu>
          <v-radio-group v-model="sex_val" row>
            <template v-slot:label>性别</template>
            <v-radio v-for="n in sex" :key="n.id" :label="n.title" :value="n.id"></v-radio>
          </v-radio-group>
          <v-textarea
            name="input-7-3"
            label="个人签名"
            cols="12"
            counter="200"
            rows="4"
            outlined
            v-model="account.signature"
          ></v-textarea>

          <v-row class="justify-end">
            <v-btn depressed color="primary" text @click="close">放弃</v-btn>
            <v-btn depressed color="primary" text @click="saveUserDetail">保存</v-btn>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</script>

<script>
  Vue.component('AccountDialog', {
    template: '#_AccountDialog',
    model: {
      prop: 'shown',
      event: 'close'
    },
    props: {
      shown: {
        type: Boolean,
        default: false
      },
      userUid: {
        type: [ Number, String ],
        default: null
      },
      friends: {
        type: Array,
        default: () => []
      }
    },
    data() {
      return {
        MAX_HEIGHT: 500,
        imgarr: [],
        history: window.history,
        shown_: this.shown,
        account: null,
        page: 1,
        faceimg: '',
        upload: window.appInfo.upload,
        sex: [
          { id: 1, title: '男' },
          { id: 2, title: '女' }
        ],
        sex_val: 1
      };
    },
    watch: {
      userUid(v, ov) {
        this.page = 1;
        this.account = {};
        this.getAccountInfo();
      },
      shown(v, ov) {
        this.shown_ = v;
      },
      shown_(v, ov) {
        if (!v) {
          this.close();
        }
      }
    },
    mounted() {
      this.getAccountInfo();
    },
    computed: {
      isFriend() {
        return this.friends.some(v => v.friendId === this.userUid);
      }
    },
    methods: {
      isMe() {
        const user = JSON.parse(
          localStorage.getItem(window.appInfo.appId + '_userInfo')
        );
        return user ? `${this.userUid}` === `${user.userId}` : false;
      },
      async saveUserDetail() {
        this.account.gender = this.sex_val === 1 ? 'male' : 'female';
        if (this.account.username.length > 20) {
          window.vtoast.fail('用户名太长');
          return false;
        }
        if (this.account.signature && this.account.signature.length > 200) {
          window.vtoast.fail('个人签名太长');
          return false;
        }
        const result = (
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'user',
                actionId: 'setUserDetail',
                actionData: {
                  username: this.account.username,
                  contactNumber: this.account.contactNumber,
                  gender: this.account.gender,
                  signature: this.account.signature
                }
              }
            }
          })
        ).data.appData.resultData;
        if (result.userId === this.account.userId) {
          this.page = 1;
          this.$emit('close');
          // 通知外边更新下用户信息
          this.$emit('refreshUserInfo');
        } else {
          window.vtoast.fail('保存发生错误');
        }
        return true;
      },
      changeToEditPage() {
        this.page = 2;
      },
      async requestAddFriend() {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'chat',
              actionId: 'addUserFriend',
              actionData: {
                friendId: this.account.userId,
                requestRemark: ''
              }
            }
          }
        });
        window.vtoast.show({ message: '已发送好友申请', title: '通知' });
        this.$emit('close', false);
      },
      close() {
        this.page = 1;
        this.$emit('close', false);
      },
      done() {
        // this.$emit('close', false)
        // this.$emit('done', this.account)
      },
      async getAccountInfo() {
        if (this.userUid) {
          this.account = (
            await window.jianghuAxios({
              data: {
                appData: {
                  pageId: 'chat',
                  actionId: 'getUserInfo',
                  where: {
                    userId: this.userUid
                  }
                }
              }
            })
          ).data.appData.resultData.rows[0];
          this.faceimg = this.upload + this.account.userAvatar;
          this.sex_val = this.account.gender === 'male' ? 1 : 2;
        }
      }
    }
  });
</script>
<style>
  .friendList {
    max-height: 400px;
    overflow-y: scroll;
  }
</style>
