<script type="text/x-template" id="_FileMessage">
  <div
    class="fileContent"
    @click="downloadFile(getContentObj.downloadPath, getContentObj.filename)"
  >
    <span class="fileContentFileDesc">
      <span>{{ getContentObj.filename }}</span>
      <span>
        {{ getContentObj.binarySize }}
        <v-icon class="fileContentFileIcon" size="16" v-if="progress_ === 100">mdi-folder-download</v-icon>
        <v-progress-circular
          v-if="progress_ > 0 && progress_ < 100"
          indeterminate
          :size="15"
          :width="3"
          color="primary"
        ></v-progress-circular>
      </span>
    </span>
  </div>
</script>

<script>
  Vue.component("FileMessage", {
    template: "#_FileMessage",
    props: {
      content: String,
      progress: {
        type: Number,
        default: 0,
      },
      id: String,
    },
    data() {
      return {
        upload: window.appInfo.upload,
        public: window.appInfo.public,
        progress_: this.progress,
      };
    },
    computed: {
      getContentObj() {
        try {
          
          return JSON.parse(this.content);
        } catch (err) {
          // 什么都不用做
        }
        return { filename: "", downloadPath: "", binarySize: null };
      },
    },
    methods: {
      downloadFile(downloadPath, filename) {
        const _this = this;
        const url = `${this.upload}/${encodeURIComponent(downloadPath)}`;
        const xhr = new XMLHttpRequest();
        xhr.open("GET", url, true);
        xhr.responseType = "blob";
        // xhr.setRequestHeader('Authorization', 'Basic a2VybWl0Omtlcm1pdA==');
        // 为了避免大文件影响用户体验，建议加loading
        xhr.onload = () => {
          if (xhr.status === 200) {
            // 获取文件blob数据并保存
            _this.saveAs(xhr.response, filename);
          }
        };
        xhr.send();
      },
      saveAs(data, filename) {
        const urlObject = window.URL || window.webkitURL || window;
        const export_blob = new Blob([data]);
        const save_link = document.createElementNS(
          "http://www.w3.org/1999/xhtml",
          "a"
        );
        save_link.href = urlObject.createObjectURL(export_blob);
        save_link.download = filename;
        save_link.click();
      },
    },
  });
</script>
<style>
  .fileContent {
    overflow: hidden;
    border-radius: 5px;
    background: #2b2b2b;
    color: white;
    font-size: 12px;
    padding: 10px;
    align-content: start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .fileContent .fileContentFileDesc span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .fileContent .fileContentFileDesc {
    padding-right: 20px;
    flex: 1;
    overflow: hidden;
  }

  .fileContent .fileContentFileIcon {
    color: white;
    font-size: 45px;
  }
</style>
