<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>
    <$ ctx.app.config.appTitle $>
  </title>
  <meta charset="utf-8" name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <link href="/<$ ctx.app.config.appId $>/public/css/global.css" rel="stylesheet" />
  <link href="/<$ ctx.app.config.appId $>/public/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="/<$ ctx.app.config.appId $>/public/css/vuetify.min.css" rel="stylesheet" />
  
  <script type="text/javascript">
    window.appInfo = {
      appId: '<$ ctx.app.config.appId $>',
      upload: '/<$ ctx.app.config.appId $>/upload',
      public: '/<$ ctx.app.config.appId $>/public',
      userAgent: navigator.userAgent || ''
    }
    if (window.appInfo.userAgent.length > 127) {
      window.appInfo.userAgent = window.appInfo.userAgent.substring(0, 126);
    }
  </script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/recorder.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/lodash.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/dayjs.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/axios.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/crypto-js.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/socket.io.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/font2pinyun.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/clipboard.min.js"></script>
  {% include 'util/utils.html' %} {% include 'util/socket.html' %} {% block css %} {% endblock %}
</head>

<body>
  <!-- 使用 x-template 的模式，避免 vue-slot 不能支持大写字母的问题 -->
  <script type="text/x-template" id="app-template">
      <div id="container">
        {% block vue_template %}{% endblock %}
        <jh-toast></jh-toast>
        <jh-confirm-dialog></jh-confirm-dialog>
        <img-viewer></img-viewer>
        {% if ctx.userInfo and ctx.userInfo.user and ctx.userInfo.user.userId %}
        <!-- 版本检查 -->
        <VersionCheck></VersionCheck>
        {% endif %}
      </div>
    </script>
  <div id="app"></div>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/vue.js"></script>
  <script src="https://unpkg.com/vue-infinite-loading@^2/dist/vue-infinite-loading.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js//lib/vuetify.js"></script>
  {% include 'components/common/imgViewer.html' %}
  {% include 'component/jhToast.html' %}
  {% include 'components/common/dxImage.html' %}
  {% include 'component/jhConfirmDialog.html' %}
  {% include 'common/jianghuAxios.html' %}
  {% if ctx.userInfo and  ctx.userInfo.user and ctx.userInfo.user.userId %}
  {% include 'util/versionCheck.html' %} {% endif %} {% block vue_body %}{%
  endblock %}
</body>

</html>