<script type="text/x-template" id="_Emotion">
<div class="emotionWidget">
  <div
    v-if="shown"
    ref="emotionContainer"
    role="document"
    :class="mainClass"
    @mousedown="preventDefault"
    @mouseup.stop="stopDefault"
    class="emotionContainer"
  >
    <v-icon class="arrow">mdi-menu-down</v-icon>
    <div class="emotionGridView">
      <template
        v-for="(emoji, index) in (Math.ceil(emotionJson[active].total / (active ? 4 : 8))) * (active ? 4 : 8)"
      >
        <v-img
          v-if="index < emotionJson[active].total"
          :key="active + '_' + index"
          :src="public + '/emotion/' + emotionJson[active].dir + '/' + index + '.' + emotionJson[active].ext"
          :max-height="active ? 80 : 35"
          :max-width="active ? 80 : 35"
          class="ma-2"
          lazy-src="../public/img/login_loading.gif"
          @mousedown="preventDefault"
          @mouseup.stop="onEmotionTap(index)"
        />
        <div
          v-else
          :key="active + '_' + index"
          :style="{ width: active ? '80px' : '35px', height: active ? '80px' : '35px', margin: '8px' }"
        >
          <!--            -->
        </div>
      </template>
    </div>
    <div class="emotionTabs">
      <v-img
        v-for="(emoji, index) in emotionJson"
        :key="'emoji_' + emoji + '_' + index"
        :src="public + '/emotion/' + emoji.dir + '/' + emoji.cover + '.' + emoji.ext"
        max-height="45"
        max-width="45"
        :class="{ 'active': active === index }"
        class="pa-2 ma-2 emotionTabItem"
        lazy-src="../public/img/login_loading.gif"
        @mousedown="preventDefault"
        @mouseup.stop="active = index"
      />
    </div>
  </div>
</div>
</script>

<script>
Vue.component('Emotion', {
  template: '#_Emotion',
  model: {
    prop: 'shown',
    event: 'close'
  },
  props: {
    shown: Boolean
  },
  data() {
    return {
      mainClass: {},
      emotionJson: [],
      active: 0,
      public: window.appInfo.public
    };
  },
  created() {
    this.$nextTick(() => {
      this.mainClass = {
        shown: true
      };
    });
    this.getEmotion();
  },
  methods: {
    preventDefault,
    stopDefault() {
    },
    async getEmotion() {
      const rows = (
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'allPage',
              actionId: 'getConstantList',
              where: {
                constantKey: 'emotion'
              }
            }
          }
        })
      ).data.appData.resultData.rows;
      const emotionJsonString = !_.isEmpty(rows) && rows[0].constantValue;
      this.emotionJson = JSON.parse(emotionJsonString);
    },
    onEmotionTap(index) {
      this.$emit('chooseEmotionItem', {
        emotion: this.emotionJson[this.active],
        index
      });
    },
    close() {
      this.$emit('close');
    }
  }
});
</script>
<style lang="scss" scoped>
.emotionContainer {
  position: fixed;
  left: 285px;
  bottom: 270px;
  width: 440px;
  height: 300px;
  transform: scale(0);
  will-change: transform;
  transition: all 0.3s;
  z-index: 999;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.emotionContainer.shown {
  transform: scale(1);
}

.emotionContainer .emotionGridView {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.emotionContainer .emotionTabs {
  height: 70px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  border-top: 1px solid #cccccc;
}

.emotionContainer .emotionTabs .emotionTabItem.active {
  border: 2px solid #000000;
}

.emotionContainer .emotionTabs::-webkit-scrollbar {
  height: 8px;
}

.emotionContainer .emotionTabs::-webkit-scrollbar-thumb {
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
}

.emotionContainer .emotionTabs::-webkit-scrollbar-track {
  height: 8px;
  background-color: #efefef;
}

.emotionContainer .arrow {
  position: absolute;
  left: 8px;
  bottom: -23px;
  color: #ffffff;
  font-size: 40px;
}
</style>
