<link href="/<$ ctx.app.config.appId $>/public/css/viewer.css" rel="stylesheet" />
<script src="/<$ ctx.app.config.appId $>/public/js/lib/viewer.js"></script>
<script src="/<$ ctx.app.config.appId $>/public/js/lib/v-viewer.js"></script>

<script type="module">
  Vue.use(VueViewer.default, {
    defaultOptions: {
      zIndex: 9999999999,
    },
  });

  Vue.component("imgViewer", {
    name: "imgViewer",
    created() {
      // options 参数见 https://github.com/fengyuanchen/viewerjs#options，常用参数为 initialViewIndex
      window.viewImages = (images, options) => this.viewImages(images, options);
      window.viewImage = (image) =>
        this.viewImages([image], { navbar: false, toolbar: false });
    },
    methods: {
      viewImages(images, options) {
        this.$viewerApi({ options, images });
      },
    },
    template: "<div></div>",
  });
</script>
