<!-- 左边栏 -->
<script type="text/x-template" id="_left-panel">
<div>
  <v-navigation-drawer
    app
    width="285"
    class="jh-navigation-drawer"
    v-show="!isMobile || (isMobile && !currentChatSessionId)"
    permanent
    touchless
  >
    <!-- 用户信息 -->
    <left-user-widget />
    <!-- 聊天列表 >>>>>>>>>> -->
    <v-list class="jh-chat-list pa-0 overflow-y-auto overflow-x-hidden" ref="leftDataList">
      <v-list-item-group
        :value="currentChatSessionId"
        @change="selectChatItem"
        color="primary"
        :mandatory="!isMobile"
        active-class="jh-active-chat-item"
      >
        <!--聊天列表不为空-->
        <template v-if="chatList.length">
          <template v-for="(chatItem, chatIndex) in chatList">
            <chat-item
              :chatItem="chatItem"
              @clean-unread-count="doUiAction('delMessageOffline')"
            />
          </template>
        </template>
        <!--聊天列表为加载中-->
        <template v-else>
          <div class="jh-chat-list-empty">
            加载中
          </div>
        </template>
      </v-list-item-group>
    </v-list>
    <!-- <<<<<<<<<< 聊天列表 -->
  </v-navigation-drawer>
</div>
</script>


<script>
window.registerData(
  {
  },
  {
  }
)
Vue.component('left-panel', {
  template: '#_left-panel',
  mixins: [window.jianghuUiActionMixins],
  data: () => window.vueData,
  vueComponent: 'leftPanel',
  computed: window.vueComputed,
  props: {},
  watch: {
  },
  mounted() {
  },
  async created() {
    await this.getChatSessionList({type: 'created'});
  },
  methods: {

    // 获取会话列表
    async getChatSessionList({type}) {
      this.chatList = (
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'chat',
              actionId: 'getChatSession',
              mark: type
            }
          }
        })
      ).data.appData.resultData.rows;
      console.log("获取绘画列表", type)
      // 排序列表
      this.doUiAction('reFilterList')
      // 设置默认当前聊天item
      this.setDefaultCurrentChatItem();
    },
    // 设置默认当前聊天item
    setDefaultCurrentChatItem() {
      if (!this.isMobile && !this.currentChatSessionId) {
        this.currentChatSessionId = this.chatList[0].chatId;
        this.currentChatSession = _.cloneDeep(this.chatList[0]);
      }
    },

    /**
     * 事件回调
     * @param value
     */
    // 左侧点击
    selectChatItem(value) {
      console.log('selectChatItem', value)
      if (!value) return false;
      const findNowChatItem = this.chatList.find(v => {
        return this.$root.getDataId(v) === value;
      });
      if (findNowChatItem) {
        this.currentChatSessionId = findNowChatItem.chatId;
        this.currentChatSession = _.cloneDeep(findNowChatItem)
      }
    },

  }
});
</script>
