<!-- 左栏聊天列表 -->
<script type="text/x-template" id="chat-item">
<v-list-item
  class="py-2 px-0 ma-0 jh-chat-item"
  :value="$root.getDataId(chatItem)"
  :key="$root.getDataId(chatItem)"
  @click="clearOfflineMessageCount"
>
<!--头像 >>>>>>>>>> -->
<v-badge :content="chatItem.offlineMessageCount" :value="chatItem.offlineMessageCount" bordered right color="red" offset-x="23" offset-y="22">
  <v-badge bordered bottom :color="chatItem.isOnline ? 'green accent-3' : 'grey lighten-2'" dot offset-x="17" offset-y="17">
    <v-list-item-avatar size="40px" class="ma-2">
      <v-img :src="upload + chatItem.chatAvatar">
        <template v-slot:placeholder>
          <v-icon size="50" style="opacity: 0.2">mdi-account-circle</v-icon>
        </template>
      </v-img>
    </v-list-item-avatar>
  </v-badge>
</v-badge>
<!--<<<<<<<<<< 头像 -->
<!--（昵称、群名）、最后消息、最后消息时间 >>>>>>>>>> -->
<v-list-item-content>
  <!--昵称、群名-->
  <v-list-item-title class="itemTitle" v-html="chatItem.chatName"></v-list-item-title>
  <v-list-item-subtitle class="subtitle overflow-hidden" style="color: #999999;">
    <!--最后消息-->
    <v-row class="ma-0 pa-0 flex-nowrap">
      <div style="text-overflow: ellipsis; overflow: hidden">
        <span>{{chatItemContent}}{{chatItemContent}}{{chatItemContent}}</span>
      </div>
      <v-spacer></v-spacer>
      <!--最后消息时间-->
      <span class="px-2">{{parseTimerLabel(chatItem.messageTimeString)}}</span>
    </v-row>
  </v-list-item-subtitle>
</v-list-item-content>
<!--<<<<<<<<<<（昵称、群名）、最后消息、最后消息时间 -->
</v-list-item>
</script>

<script>
Vue.component('chat-item', {
  template: '#chat-item',
  props: {
    chatItem: {
      type: Object,
      default: () => {
      }
    },
  },
  computed: {
    // 聊天内容安全处理
    chatItemContent() {
      return `${this.chatItem.fromUsername}：${getMessageContent(this.chatItem, true)}`.replace(/</g, '&lt;');
    }
  },
  data() {
    return {
      upload: window.appInfo.upload,
    };
  },
  watch: {},
  methods: {
    // 当点击聊天列表item时，清空当前item的历史未读消息
    clearOfflineMessageCount() {
      this.$emit('clean-unread-count', this.chatItem.chatId);
    },
    // 转换消息发送时间格式
    parseTimerLabel(messageTimeString) {
      const _messageTime = dayjs(messageTimeString);
      const diffSecond = dayjs().diff(_messageTime, 'second');
      const todayHour = dayjs().hour();
      const minute = dayjs().minute();
      const second = dayjs().second();
      const onDayFullSecond = 3600 * 24;
      const todayFullSecond = 3600 * todayHour + 60 * minute + second;
      // 当天
      if (diffSecond <= todayFullSecond) {
        return _messageTime.format('HH:mm');
      } else if (diffSecond <= todayFullSecond + onDayFullSecond) {
        return `昨天${_messageTime.format('HH:mm')}`;
      } else if (diffSecond <= todayFullSecond + onDayFullSecond * 2) {
        return `前天${_messageTime.format('HH:mm')}`;
      } else if (_messageTime.year() === dayjs().year()) {
        return `${_messageTime.format('M月D日')}`;
      }
      return dayjs(_messageTime).format('YY年M月D日');
    }
  }
});
</script>
<style scoped>


</style>
