<!-- 左边栏 -->
<script type="text/x-template" id="_left-panel">
<div>
  <v-scroll-x-transition>
    <v-navigation-drawer
      app
      width="285"
      class="navigation-drawer mob-app-left"
      v-show="true"
      permanent
      touchless
    >
      <!--   用户信息   -->
      <left-user-widget />
      <v-list class="leftDataList" ref="leftDataList">
        <v-list-item-group
          :value="currentChatSessionId"
          @change="onLeftItemChange"
          color="primary"
          active-class="activeItem"
        >
          <template v-if="chatList.length">
            <template v-for="(item, index) in chatList">
              <v-list-item
                class="pa-0 ma-0"
                :value="$root.getDataId(item)"
              >
                <chat-item
                  @onClearUnread="doUiAction('delMessageOffline')"
                  :ref="'chatWidget_' + $root.getDataId(item)"
                  :data="item"
                />
              </v-list-item>
            </template>
          </template>
          <template v-else>
            <div style="width: 100%; line-height: 100px; text-align: center;">
              加载中
            </div>
          </template>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </v-scroll-x-transition>
</div>
</script>


<script>
window.registerData(
  {},
  {}
)
Vue.component('left-panel', {
  template: '#_left-panel',
  mixins: [window.jianghuUiActionMixins],
  data: () => window.vueData,
  vueComponent: 'leftPanel',
  computed: window.vueComputed,
  props: {},
  watch: {
    dataSyncStatus: {
      deep: true,
      handler(value) {
      }
    }
  },
  mounted() {
  },
  async created() {
    this.getChatSessionList({type: 'created'});
  },
  methods: {

    // 获取会话列表
    async getChatSessionList({type}) {
      this.chatList = (
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'chat',
              actionId: 'getChatSession',
              mark: type
            }
          }
        })
      ).data.appData.resultData.rows;

      // chatRoomExtend 解析
      this.chatList.forEach(item => {
        try {
          if (item.chatRoomExtend) {
            item.chatRoomExtend = JSON.parse(item.chatRoomExtend);
          } else {
            item.chatRoomExtend = {};
          }
        } catch (error) {
          item.chatRoomExtend = {};
        }
      });
      this.doUiAction('reFilterList')
      if (!this.isMobile && !this.currentChatSessionId) {
        this.currentChatSessionId = this.chatList[0].chatId;
        this.currentChatSession = _.cloneDeep(this.chatList[0]);
      }
    },

    /**
     * 事件回调
     * @param value
     */
    // 左侧点击
    onLeftItemChange(value) {
      if (!value) return false;
      const findNowChatItem = this.chatList.find(v => {
        return this.$root.getDataId(v) === value;
      });
      if (findNowChatItem) {
        this.currentChatSessionId = findNowChatItem.chatId;
        this.currentChatSession = _.cloneDeep(findNowChatItem)
      }
    },

  }
});
</script>
