<!-- 左栏聊天列表 -->
<script type="text/x-template" id="_ChatWidget">
  <v-card
    class="rounded-0 chatItem ma-0 pt-2"
    :class="[chatWidgetStyle]"
    @click="clearOfflineMessageCount"
  >
    <div class="d-flex flex-no-wrap justify-space-between">
      <v-badge bordered right :color="isMuted() ? 'grey' : 'red'" :content="data_.offlineMessageCount" :value="data_.offlineMessageCount" offset-x="23" offset-y="22" >
        <template v-if="isRoom">
          <v-avatar size="40px" class="ma-2">
            <dx-img :src="upload + data_.chatAvatar" roomAvatar></dx-img>
          </v-avatar>
        </template>
        <template v-else>
          <v-badge
            bordered
            bottom
            :color="isOnline_ ? 'green accent-3' : 'grey lighten-2'"
            dot
            offset-x="17"
            offset-y="17"
          >
            <v-avatar size="40px" class="ma-2">
              <dx-img :src="upload + data_.chatAvatar" userAvatar></dx-img>
            </v-avatar>
          </v-badge>
        </template>
      </v-badge>

      <div class="d-flex flex-column justify-center align-start" style="overflow: hidden; flex: 1">
        <v-card-title class="ma-0 pa-0 pr-1 itemTitle" style="width: 100%">
          <v-row class="ma-0 pa-0">
            <div style="flex: 1"><v-icon size="14" v-if="isMuted()">mdi-volume-off</v-icon>{{ data_.chatName }}</div>
          </v-row>
        </v-card-title>
        <div class="d-flex align-center" style="width: 100%">
          <v-card-subtitle
            class="ma-0 pa-0 subtitle overflow-hidden d-block"
            :style="{ 'color': atMe ? '#ff0000' : '#999999' }"
            style="width: 90%; text-overflow: ellipsis; flex: 1"
            v-html="filterXss(data_.fromUsername + '：' + getMessageContent(data_, true))"
          ></v-card-subtitle>
          <span
            style="font-size: 12px; color: #999999"
            class="pr-2"
          >{{ getTimerStr(data_.messageTimeString) }}</span>
        </div>
      </div>
      <v-menu v-if="!data_.friendDeviceType || data_.friendDeviceType !== 'bot_xiaochengxu'" offset-y >
        <template #activator="{ on, attrs }">
          <v-btn text icon v-bind="attrs" v-on="on" @click.stop style="position: absolute; right: 0; top: 7px">
            <v-icon size="18">
              mdi-dots-vertical
            </v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item-group>
            <v-list-item @click="toggleMuted()">
              <v-list-item-title>{{ isMuted() ? '取消免打扰---' : '免打扰' }}</v-list-item-title>
            </v-list-item>
            <v-list-item @click="toggleTop()">
              <v-list-item-title>{{ isTop() ? '取消置顶---' : '置顶' }}</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item @click="deleteChatSession">
              <v-list-item-title>删除</v-list-item-title>
            </v-list-item> -->
          </v-list-item-group>
        </v-list>
      </v-menu>
    </div>
  </v-card>
</script>

<script>
  Vue.component('ChatWidget', {
    template: '#_ChatWidget',
    props: {
      data: {
        type: Object,
        default: () => { }
      },
      isOnline: {
        type: Boolean,
        default: false
      },
      dataType: {
        type: String,
        default: 'chat'
      }
    },
    computed: {
      atMe() {
        // 已读就不标红了
        if (this.userInfo && this.data_.fromUserId === this.userInfo.userId) {
          return false;
        }
        // 已读就不标红了
        if (this.data_.offlineMessageCount === 0) {
          return false;
        }
        // Tip: userInfo有时候慢于chatList, 所以会导致 列表渲染异常, 这里要规避下
        // 如果最新的对话有引用，则不在引用中查找 at
        let realContent = this.data_.messageContent;
        if (!realContent) return false;
        if (realContent.includes('\n------------------------\n Re @')) {
          const index = realContent.lastIndexOf(
            '\n------------------------\n Re @'
          );
          realContent = realContent.slice(
            index + '\n------------------------\n '.length
          );
        }
        if (this.userInfo && this.userInfo.username) {
          return (
            realContent.includes(`@${this.userInfo.username}`) ||
            this.data_.messageContent.includes('@所有人')
          );
        }
        return realContent.includes('@所有人');
      },
      isRoom() {
        return this.data.messageType === 'room';
      },
      data_() {
        return this.data;
      },
      isOnline_() {
        return this.isOnline;
      }
    },
    data() {
      return {
        userInfo: JSON.parse(localStorage.getItem(window.appInfo.appId + '_userInfo')),
        upload: window.appInfo.upload,
        chatWidgetStyle: {}
      };
    },
    watch: {},
    methods: {
      clearOfflineMessageCount({ justCleanUi = false }) {
        if (!justCleanUi) {
          this.$emit('onClearUnread', this.data.chatId);
        }
        this.data_.offlineMessageCount = 0;
      },
      // 更新接收来的信消息，plusCount：如果当前回话中，不需要增加红点数子
      reRenderSessionBySocketMessage(params) {
        if (
          params.noticeType === 'onlineNotice' ||
          params.noticeType === 'offlineNotice'
        ) {
          this.isOnline_ = params.noticeType === 'onlineNotice';
          return false;
        }
        for (const paramsKey in params) {
          this.data[paramsKey] = params[paramsKey];
        }
        this.chatWidgetStyle = {
          willChange: true,
          active: true
        };
        this.$nextTick(() => {
          setTimeout(() => {
            this.chatWidgetStyle = {
              willChange: true,
              active: false
            };
            this.$nextTick(() => {
              this.chatWidgetStyle = {
                willChange: false,
                active: false
              };
            });
          }, 300);
        });
        return null;
      },
      async toggleTop() {
        const top = !this.isTop();
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'chat',
              actionId: 'toggleChatSession',
              actionData: {
                type: this.data.messageType,
                chatId: this.data.chatId,
                messageType: this.data.messageType,
                userIdOrRoomId: this.data.chatId,
                top
              }
            }
          }
        });
        this.data.topChatOrder = top
          ? window.dayjs().format('YYYY-MM-DDTHH:mm:ss.SSSZ')
          : null;
      },
      async toggleMuted() {
        const muted = !this.isMuted();
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'chat',
              actionId: 'toggleChatSession',
              actionData: {
                type: this.data.messageType,
                chatId: this.data.chatId,
                messageType: this.data.messageType,
                userIdOrRoomId: this.data.chatId,
                muted
              }
            }
          }
        });
        this.data.muted = muted;
        if (isApp) {
          this.$emit('toggleMuted', {
            [this.data.chatId]: muted
          });
        }
      },
      isTop() {
        return !!this.data.topChatOrder;
      },
      isMuted() {
        return !!this.data.muted;
      },
      async deleteChatSession() {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'chat',
              actionId: 'deleteChatSession',
              actionData: {
                type: this.data.messageType,
                chatId: this.data.chatId
              }
            }
          }
        });
        this.data.recordStatus = 'delete';
      },
      filterXss(content) {
        return content.replace(/</g, '&lt;');
      },
      getMessageContent,
      getTimerStr(messageTimeString) {
        const _messageTime = dayjs(messageTimeString);
        const diffSecond = dayjs().diff(_messageTime, 'second');
        const todayHour = dayjs().hour();
        const minute = dayjs().minute();
        const second = dayjs().second();
        const onDayFullSecond = 3600 * 24;
        const todayFullSecond = 3600 * todayHour + 60 * minute + second;
        // 当天
        if (diffSecond <= todayFullSecond) {
          return _messageTime.format('HH:mm');
        } else if (diffSecond <= todayFullSecond + onDayFullSecond) {
          return `昨天${_messageTime.format('HH:mm')}`;
        } else if (diffSecond <= todayFullSecond + onDayFullSecond * 2) {
          return `前天${_messageTime.format('HH:mm')}`;
        } else if (_messageTime.year() === dayjs().year()) {
          return `${_messageTime.format('M月D日')}`;
        }
        return dayjs(_messageTime).format('YY年M月D日');
      }
    }
  });
</script>
<style scoped>
  .chatItem {
    height: 70px;
    width: 100%;
    box-shadow: none !important;
    background-color: transparent;
  }

  .chatItem.willChange {
    will-change: auto;
  }

  .chatItem.active {
    animation: chatBgAnim 0.3s infinite;
    -webkit-animation: chatBgAnim 0.3s infinite;
    /* Safari 和 Chrome */
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }

  @keyframes chatBgAnim {
    from {
      background-color: #40c4ff;
    }

    to {
      background-color: transparent;
    }
  }

  @-webkit-keyframes chatBgAnim

  /*Safari and Chrome*/
    {
    from {
      background-color: #40c4ff;
    }

    to {
      background-color: transparent;
    }
  }

  .itemTitle {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .subtitle {
    display: flex;
    font-size: 12px;
    white-space: nowrap;
    color: #999999;
  }

  .subtitle>br {
    content: "";
  }

  .subtitle>br::after {
    content: "<br>";
  }

  .subtitle span.title {
    flex: 1;
  }
</style>
