<template id="loadMore">
  <div ref="loadContainer" @scroll="onPageScroll">
    <template v-if="sessionId">
      <div class="emptyChatDetail">
        <div transition="expand-transition" v-show="loadState === loadStatus.loading">
          <span>加载中</span>
          <img src="../public/img/login_loading.gif" alt/>
        </div>
        <div transition="expand-transition" v-show="loadState === loadStatus.empty">
          暂无聊天详情
        </div>
        <div transition="expand-transition" v-show="loadState === loadStatus.finish">
          全部加载完毕
        </div>
      </div>
      <slot></slot>
    </template>
  </div>
</template>
<script>
Vue.component('load-more', {
  template: '#loadMore',
  name: 'load-more',
  props: ["sessionId", 'handler'],
  data: () => ({
    loading: false,
    loadState: 'loading',
    loadStatus: {
      loading: 'loading',
      finish: 'finish',
      empty: 'empty',
      complete: 'complete',
    },
    scrollHeightBeforeLoad: 0, // 1. 有时候加载更多完成后会导致页面抖动一下，手动给他回位到加载更多之前的位置上，视觉上保证，没有变动， 2.在进行同步之前保存下当前的滚动位置，同步完后，滚动回去
  }),
  watch: {
    sessionId(value) {
      if (value) {
        this.scrollHeightBeforeLoad = 0;
        this.loadState = this.loadStatus.loading;
        this.loadMore();
      }
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {
    // 顶部触发加载更多
    onPageScroll(event) {
      if (event.target.scrollTop === 0) {
        if(this.sessionId) {
          this.loadMore();
        }
      }
    },
    // 加载更多
    async loadMore() {
      if (this.loadState !== this.loadStatus.finish && this.loadState !== this.loadStatus.empty) {
        this.loadState = this.loadStatus.loading;
        this.scrollHeightBeforeLoad = Math.max(this.$refs.loadContainer.scrollHeight, this.scrollHeightBeforeLoad);
        if (!this.loading) {
          this.loading = true;
          this.loadState = await this.handler('loadMore');
          this.loading = false;
          this.fixScrollPositionOnRenderEnd(0);
        }
      }
    },
    // 防止加载数据后的抖动
    fixScrollPositionOnRenderEnd(count) {
      const scrollHeightAfterLoad = this.$refs.loadContainer.scrollHeight;
      if (scrollHeightAfterLoad > this.scrollHeightBeforeLoad) {
        this.$refs.loadContainer.scrollTop = scrollHeightAfterLoad - this.scrollHeightBeforeLoad;
      } else {
        if (count < 50) {
          requestAnimationFrame(() => {
            this.fixScrollPositionOnRenderEnd(++count);
          })
        }
      }
    },
    // 必须到最后，防止突发情况，中断滚动
    mustScrollToBottom() {
      // 手指正在滑动，停止递归定位
      if (window.touchIng) return false;
      requestAnimationFrame(() => {
        try {
          const scrollHeight = this.$refs.loadContainer.scrollHeight;
          if (
            this.$refs.loadContainer.offsetHeight + this.$refs.loadContainer.scrollTop < scrollHeight - 10
          ) {
            this.$refs.loadContainer.scrollTop = scrollHeight;
            this.mustScrollToBottom();
          }
        } catch (e) {
          this.mustScrollToBottom();
        }
      });
      return false;
    },
    // 滚动到最下方
    scrollPageToBottom({mustToBottom}) {
      this.$emit('onScrollToBottom');
      this.$nextTick(() => {
        requestAnimationFrame(() => {
          try {
            if (mustToBottom) {
              this.mustScrollToBottom();
            } else {
              if (window.touchIng) return false;
              if(this.$refs.loadContainer) {
                this.$refs.loadContainer.scrollTop = this.$refs.loadContainer.scrollHeight;
              }
            }
            this.$forceUpdate();
          } catch (err) {
          }
        });
      });
    },
  }
})
</script>
<style>

.emptyChatDetail {
  width: 100%;
  text-align: center;
  line-height: 100px;
  color: #999999;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loadingShown 0.3s infinite;
  /* Safari 和 Chrome */
  animation-iteration-count: 1;
  overflow: hidden;
}

.emptyChatDetail img {
  width: 20px;
  height: 20px;
  transform: translateY(5px);
}

</style>
