<!-- 聊天操作框 -->
<script type="text/x-template" id="_ChatInputWidget">
<div
  class="d-flex footer"
  :class="{ 'flex-column': mobExpandChat, 'flex-row-reverse': !mobExpandChat }"
>
  <v-toolbar flat class="chatToolbar" v-if="!isMobile">
    <v-btn
      class="emoticon-open-btn"
      icon
      @mousedown="doUiAction('preventDefault')"
      @mouseup="isEmotionDialogShow = !isEmotionDialogShow"
    >
      <v-icon>mdi-emoticon-outline</v-icon>
    </v-btn>
    <v-btn icon class="fileInputBox" @click="doUiAction('fileInputTap', { type: 'filePicker' })">
      <v-icon>mdi-folder-open-outline</v-icon>
    </v-btn>
    <v-btn icon class="fileInputBox" @click="doUiAction('fileInputTap', { type: 'imagePicker' })">
      <v-icon>mdi-image-outline</v-icon>
    </v-btn>
    <v-spacer />
  </v-toolbar>
  <div
    class="flex-grow-1 d-flex ml-2"
    :class="{ 'mr-2': isMobile, 'mb-2': isMobile, 'mt-2': isMobile }"
  >
    <v-btn
      class="mb-2 mr-2"
      v-if="isMobile"
      text
      icon
      color="grey darken-1"
      @click="toggleRecordMode"
    >
      <v-icon>{{ recordMode ? 'mdi-keyboard-outline' : 'mdi-microphone' }}</v-icon>
    </v-btn>
    <v-form
      :class="{ 'pl-2': isMobile, 'pr-2': isMobile }"
      v-if="!recordMode || !isMobile"
      class="text-body-2 mt-0 mr-2 d-block"
    >
      <v-textarea
        v-model="messageTextareaValue"
        no-resize
        @paste="onPaste"
        id="messageTextareaId"
        :rows="isMobile ? (textareaExpanded ? 3 : 1) : 5"
        row-height="15"
        :autoGrow="isMobile"
        counter="7000"
        :rules="[textareaRules(7000)]"
        placeholder="输入聊天信息，按Enter发送"
        @keydown.enter.exact.prevent
        @keydown.13.exact="() => {
            doUiAction('sendMsg', {})
          }"
        @keydown.229.exact="() => { }"
        @keydown.ctrl.enter.exact="newline"
        dense
        @click="focusTextArea"
        class="ma-0"
        ref="messageTextareaDom"
      />
    </v-form>
  </div>

  <template>
    <input
      ref="filePicker"
      type="file"
      class="fileInput"
      @change="onChooseFile"
      v-show="mobExpandChat"
    />
    <input ref="imagePicker" type="file" class="fileInput" accept="image/*" @change="onChooseImage" />
  </template>
  <div class="d-flex ma-2 align-center justify-end">
    <template v-if="mobExpandChat">
      <span class="caption" style="color: #BDBDBD">按 Ctrl+Enter 换行，按 Enter 发送</span>
      <div class="mr-2"></div>
    </template>
    <v-btn
      depressed
      color="primary"
      @mousedown="doUiAction('preventDefault')"
      @mouseup="doUiAction('sendMsg', {})"
    >发送
    </v-btn>
  </div>
  <Emotion
    v-model="isEmotionDialogShow"
    @close="isEmotionDialogShow = false"
    :class="{ 'mobExpandChat': isMobile && mobExpandChat}"
    @chooseEmotionItem="onEmotionTap"
    app
    v-click-outside="emotionOutSide"
  ></Emotion>
</div>
</script>

<script>
window.registerData(
  {
    audioPermission: false,
    isEmotionDialogShow: false, // 表情包开关
    startRecord: false, // 是否开始录音
    recordPlayIng: false, // 播放状态
    recordPlaySource: null, // 播放状态
    recordSendStatus: true, // 松开手指的位置，决定是否发送语音
    recordMode: false, // 语音模式
    textareaRules: len => v => (v || '').length < len || `消息内容最长${len}个文字`,
    emotionOutSide: {
      handler: () => this.isEmotionDialogShow = false,
      include: () => [document.querySelector('.emoticon-open-btn')],
    }
  },
  {
    textareaExpanded() {
      return (
        this.mobExpandChat ||
        (this.messageTextareaValue &&
          this.messageTextareaValue.length &&
          !this.recordMode)
      );
    }
  }
)

Vue.component('ChatInputWidget', {
  template: '#_ChatInputWidget',
  mixins: [window.jianghuUiActionMixins],
  data: () => window.vueData,
  vueComponent: 'chatInput',
  computed: window.vueComputed,
  created() {
    this.initMob();
  },
  methods: {
    // 当点击表情时
    onEmotionTap({emotion: {dir, ext}, index}) {
      if (dir === 'face01') {
        // 小号表情
        this.messageTextareaValue = `${this.messageTextareaValue || ''}[emoji_${dir}_${index}.${ext}]`;
      } else {
        // gif表情
        this.isEmotionDialogShow = false;
        const messageContent = {downloadPath: `/emotion/${dir}/${index}.${ext}`};
        this.doUiAction('sendMsg', {
          messageContent: JSON.stringify(messageContent),
          messageContentType: duoxingMessageContentTypeEnum.image
        })
      }
    },

    /**
     * 初始化在手机上的事件
     */
    initMob() {
      if (this.isMobile) {
        // 手机端 打开必定会 启动键盘
        this.registerOnResize();
      }
    },
    /**
     * 监听屏幕的高度变化，变相的监听了键盘展开和收起
     */
    registerOnResize() {
      const that = this;
      window.onresize = function () {
        const target = this;
        if (target.resizeFlag) {
          clearTimeout(target.resizeFlag);
        }
        target.resizeFlag = setTimeout(function () {
          that.doUiAction('scrollToBottom')
          target.resizeFlag = null;
        }, 200);
      };
    },

    /**
     * 上传控件触发
     * @param obj
     * @param obj.type
     */
    async fileInputTap({type}) {
      const refName = type
      this.$refs[refName].click();
    },

    /**
     * 获取粘贴板的截图file
     * @param event
     * @returns {null}
     */
    getFileFromClipboardData(event) {
      let messageContentType = duoxingMessageContentTypeEnum.image;
      const items = event.clipboardData && event.clipboardData.items;
      let file = null;
      if (items && items.length) {
        // 检索剪切板items
        for (let i = 0; i < items.length; i++) {
          if (items[i].kind === 'file') {
            file = items[i].getAsFile();
            if (items[i].type.indexOf('image') === -1) {
              messageContentType = duoxingMessageContentTypeEnum.file;
            }
            break;
          }
        }
      }
      return {file, messageContentType};
    },
    // 粘贴截图
    async onPaste(event) {
      const {file, messageContentType} = this.getFileFromClipboardData(event);
      if (!file) return;
      await this.doUiAction('sendMsg', {
        messageContent: JSON.stringify({
          filename: '',
          downloadPath: '',
          binarySize: ''
        }),
        messageContentType,
        file
      });
    },
    // ctrl+enter 新行
    newline() {
      const messageTextareaDom = document.getElementById('messageTextareaId');
      const pos = messageTextareaDom.selectionEnd;
      this.messageTextareaValue =
        this.messageTextareaValue.slice(0, pos) +
        '\n' +
        this.messageTextareaValue.slice(pos);

      this.$nextTick(() => {
        messageTextareaDom.selectionEnd = pos + 1;
      });
    },
    // 保证输入框光标在最后
    keepTextareaSelectionAtLast() {
      const messageTextareaDom = document.getElementById('messageTextareaId');
      requestAnimationFrame(() => {
        messageTextareaDom.focus();
        this.mobileMessageTextareaFocus = true
        if (!this.isMobile) {
          messageTextareaDom.selectionStart =
            messageTextareaDom.selectionEnd =
              this.messageTextareaValue.length;
        }
      });
    },

    // 当选择文件
    async onChooseFile(event) {
      const file = event.target.files[0]
      this.$refs.filePicker.value = null;
      const messageContentType = duoxingMessageContentTypeEnum.file;
      window.vtoast.loading({message: '文件上传中', timer: 300000})
      await this.doUiAction('sendMsg', {
        messageContent: JSON.stringify({
          filename: file.name,
          downloadPath: '',
          binarySize: ''
        }),
        messageContentType,
        file
      });

    },
    // 当选择图片
    async onChooseImage(event) {
      const messageContentType = duoxingMessageContentTypeEnum.image;
      window.vtoast.loading({message: '图片上传中', timer: 300000})
      await this.doUiAction('sendMsg', {
        messageContent: JSON.stringify({
          filename: '',
          downloadPath: await window.jianghuAxios.fileToBase64(event.target.files[0]),
          binarySize: ''
        }),
        messageContentType,
        file: event.target.files[0]
      });
      this.$refs.imagePicker.value = null;
    },

    messageTextareaDomBlur() {
      this.$refs.messageTextareaDom.blur();
    },
    /**
     * 聊天输入框激活
     * @param event
     */
    focusTextArea(event) {
      try {
        this.mobileMessageTextareaFocus = true
      } catch (e) {
        this.$nextTick(() => {
          this.focusTextArea();
        });
      }
    }
  }
});
</script>
