<!-- 聊天操作框 -->
<script type="text/x-template" id="_ChatInputWidget">
  <div
    class="d-flex footer"
    :class="{ 'flex-column': mobExpandChat, 'flex-row-reverse': !mobExpandChat }"
  >
    <v-toolbar flat class="chatToolbar" v-if="!isMobile">
      <v-btn
        class="emoticon-open-btn"
        icon
        @mousedown="doUiAction('preventDefault')"
        @mouseup="emotionStatus = !emotionStatus"
      >
        <v-icon>mdi-emoticon-outline</v-icon>
      </v-btn>
      <v-btn icon class="fileInputBox" @click="doUiAction('fileInputTap', { type: 'filePicker' })">
        <v-icon>mdi-folder-open-outline</v-icon>
      </v-btn>
      <v-btn icon class="fileInputBox" @click="doUiAction('fileInputTap', { type: 'imagePicker' })">
        <v-icon>mdi-image-outline</v-icon>
      </v-btn>
      <v-btn icon @click="doUiAction('startRecordMethod')" :class="{ 'startRecord': startRecord }">
        <v-icon>mdi-microphone</v-icon>
      </v-btn>
      <v-btn v-if="recordFile" icon @click="playRecord" :color="recordPlayIng ? 'red' : '#666666'">
        <v-icon>{{ recordPlayIng ? 'mdi-stop-circle-outline' : 'mdi-motion-play-outline' }}</v-icon>
      </v-btn>
      <v-btn v-if="recordFile" depressed small color="success" @click="sendAudioMsg()">发送录音</v-btn>
      <v-spacer />
    </v-toolbar>
    <div
      class="flex-grow-1 d-flex ml-2"
      :class="{ 'mr-2': isMobile, 'mb-2': isMobile, 'mt-2': isMobile }"
    >
      <v-btn
        class="mb-2 mr-2"
        v-if="isMobile"
        text
        icon
        color="grey darken-1"
        @click="changeInputType"
      >
        <v-icon>{{ recordMode ? 'mdi-keyboard-outline' : 'mdi-microphone' }}</v-icon>
      </v-btn>
      <v-form
        :class="{ 'pl-2': isMobile, 'pr-2': isMobile }"
        v-if="!recordMode || !isMobile"
        class="text-body-2 mt-0 mr-2 d-block"
      >
        <v-textarea
          v-model="messageTextareaValue"
          no-resize
          @paste="onPaste"
          id="messageTextareaId"
          :rows="isMobile ? (textareaExpanded ? 3 : 1) : 5"
          row-height="15"
          :autoGrow="isMobile"
          counter="7000"
          :rules="[msgInputValueLength(7000)]"
          placeholder="输入聊天信息，按Enter发送"
          @keydown.enter.exact.prevent
          @keydown.13.exact="() => {
            doUiAction('sendMsg', {})
          }"
          @keydown.229.exact="() => { }"
          @keydown.ctrl.enter.exact="newline"
          dense
          @click="focusTextArea"
          class="ma-0"
          ref="messageTextareaDom"
        />
      </v-form>
      <div v-else class="recordBtn" @touchstart="doUiAction('preventDefault')">
        <span class="contSelect">按住 说话</span>
        <v-bottom-sheet v-if="startRecord" v-model="startRecord" class="recordUI">
          <v-sheet class="recordSheet d-flex flex-column">
            <div
              class="cancelSendAudioArea"
              :class="{ 'recordSendStatus': recordSendStatus == false }"
            >
              <div class="recordAnim"></div>
              <span class="contSelect">松开 取消</span>
            </div>
            <div class="canSendAudioArea" :class="{ 'recordSendStatus': recordSendStatus == true }">
              <span class="contSelect">松开 发送</span>
            </div>
          </v-sheet>
        </v-bottom-sheet>
      </div>
    </div>

    <template>
      <input
        ref="filePicker"
        type="file"
        class="fileInput"
        @change="onChooseFile"
        v-show="mobExpandChat"
      />
      <input ref="imagePicker" type="file" class="fileInput" accept="image/*" @change="onChooseImage" />
      <input ref="videoPicker" type="file" class="fileInput" accept="video/*" @change="onChooseVideo" />
    </template>
    <div class="d-flex ma-2 align-center justify-end">
      <template v-if="mobExpandChat">
        <span class="caption" style="color: #BDBDBD">按 Ctrl+Enter 换行，按 Enter 发送</span>
        <div class="mr-2"></div>
      </template>
      <v-btn
        depressed
        color="primary"
        @mousedown="doUiAction('preventDefault')"
        @mouseup="doUiAction('sendMsg', {})"
      >发送</v-btn>
    </div>
    <Emotion
      v-model="emotionStatus"
      @close="emotionStatus = false"
      :class="{ 'mobExpandChat': isMobile && mobExpandChat}"
      @chooseEmotionItem="onEmotionTap"
      app
      v-click-outside="{
        handler: onClickOutside,
        include: include,
      }"
    ></Emotion>
  </div>
</script>

<script>
  window.registerData(
    {
      emotionStatus: false, // 表情包开关
      startRecord: false, // 是否开始录音
      recordFile: null, // 录音文件
      recordPlayIng: false, // 播放状态
      recordPlaySource: null, // 播放状态
      recordSendStatus: true, // 松开手指的位置，决定是否发送语音
      recordMode: false, // 语音模式
      msgInputValueLength: len => v =>
        (v || '').length < len || `消息内容最长${len}个文字`
    },
    {
      textareaExpanded() {
        return (
          this.mobExpandChat ||
          (this.messageTextareaValue &&
            this.messageTextareaValue.length &&
            !this.recordMode)
        );
      }
    }
  )

  Vue.component('ChatInputWidget', {
    template: '#_ChatInputWidget',
    mixins: [ window.jianghuUiActionMixins ],
    data: () => window.vueData,
    vueComponent: 'chatInput',
    computed: window.vueComputed,
    created() {
      this.initMob();
    },
    watch: {
      recordMode(v) {
        // 是否开启了录音模式，先发起权限申请
        if (v) {
          Recorder.getPermission().then(
            () => {
              console.log('给权限了');
            },
            error => {
              console.log(`${error.name} : ${error.message}`);
            }
          );
        }
      },
      messageTextareaValue(value, old) {
        // 如果当前内容和草稿内容一样，就不触发 at
        if (value === this.draft[this.currentChatSessionId]) {
          return;
        }
        this.draft[this.currentChatSessionId] = value;
        localStorage.setItem('draft', JSON.stringify(this.draft));
        if ((value || '').length - (old || '').length === 1) {
          const selectionStart =
            this.$refs.messageTextareaDom.$el.getElementsByTagName(
              'textarea'
            )[0].selectionStart;
        }
      },
      mobileMessageTextareaFocus(value, oldValue) {
        if (isMobile) {
          const textarea =
            this.$refs.messageTextareaDom.$el.getElementsByTagName('textarea');
          if (textarea && textarea.length) {
            if (value && !oldValue) {
              textarea[0].selectionStart = textarea[0].selectionEnd =
                textarea[0].value.length;
              textarea[0].scrollTop = textarea[0].scrollHeight;
            } else {
              requestAnimationFrame(() => {
                textarea[0].scrollTop = 0;
              });
            }
          }
        }
      }
    },
    methods: {
      include() {
        return [ document.querySelector('.emoticon-open-btn') ];
      },
      // 当点击表情时
      onEmotionTap({ emotion: { dir, ext }, index }) {
        if (dir === 'face01') {
          this.messageTextareaValue = `${this.messageTextareaValue || ''
          }[emoji_${dir}_${index}.${ext}]`;
        } else {
          this.onClickOutside();
          const msg = { downloadPath: `/emotion/${dir}/${index}.${ext}` };
          this.doUiAction('sendMsg', {
            messageContent: JSON.stringify(msg),
            messageContentType: duoxingMessageContentTypeEnum.image
          })
        }
      },

      // 点击表情包外
      onClickOutside(event) {
        this.emotionStatus = false;
      },
      /**
       * 初始化在手机上的事件
       */
      initMob() {
        if (this.isMobile) {
          document.addEventListener('touchstart', this.startTouch);
          document.addEventListener('touchmove', this.touchMove);
          document.addEventListener('touchend', this.stopRecord);
          // 手机端 打开必定会 启动键盘
          const that = this;
          window.onresize = function () {
            const target = this;
            if (target.resizeFlag) {
              clearTimeout(target.resizeFlag);
            }
            target.resizeFlag = setTimeout(function () {
              that.doUiAction('scrollToBottom')
              target.resizeFlag = null;
            }, 200);
          };
        }
      },
      /**
       * 录音和文字模式切换
       */
      changeInputType() {
        this.recordMode = !this.recordMode;
        if (this.recordMode) {
          this.mobileMessageTextareaFocus = false
        }
      },
      /**
       * 开始录音
       * @param event
       */
      startTouch(event) {
        window.touchIng = true;
        document.body.classList.add('stopUserSelect');
        if (this.recordMode) {
          const touchDoms = document.elementsFromPoint(
            event.touches[0].pageX,
            event.touches[0].pageY
          );
          if (touchDoms.some(v => v.className === 'recordBtn')) {
            event.preventDefault();
            this.startRecord = true;
            this.startRecordMethod();
          }
        }
      },
      /**
       * 启动录音
       */
      startRecordMethod() {
        const start = () => {
          this.recorder = new Recorder();
          this.recorder.start().then(
            () => { },
            error => {
              console.log(`${error.name} : ${error.message}`);
            }
          );
        };
        if (!this.isMobile) {
          if (this.startRecord) {
            this.recordSendStatus = true;
            this.stopRecord();
          } else {
            Recorder.getPermission().then(
              () => {
                this.startRecord = true;
                start();
              },
              error => {
                console.log(`${error.name} : ${error.message}`);
              }
            );
          }
        } else {
          start();
        }
      },
      /**
       * 当手指抬起，判断手指抬起的为止，是否发送语音
       * @param event
       */
      touchMove(event) {
        if (this.startRecord && this.isMobile) {
          const touchDoms = document.elementsFromPoint(
            event.touches[0].pageX,
            event.touches[0].pageY
          );
          if (touchDoms.some(v => v.className === 'cancelSendAudioArea')) {
            this.recordSendStatus = false;
          }
          if (touchDoms.some(v => v.className === 'canSendAudioArea')) {
            this.recordSendStatus = true;
          }
        }
      },
      /**
       * 停止录音，并获取录音文件
       * @param event
       */
      stopRecord(event) {
        window.touchIng = false;
        document.body.classList.remove('stopUserSelect');
        if (this.startRecord) {
          this.startRecord = false;
          if (this.recordSendStatus) {
            if (this.recorder.duration > 1) {
              const file = this.recorder.getWAVBlob();
              this.recordFile = file;
              // console.log(JSON.stringify(this.recordFile))
              if (this.isMobile) {
                this.sendAudioMsg();
              }
            }
          }
          this.recorder.destroy().then(() => {
            this.recorder = null;
          });
        }
      },

      /**
       * 录音试听
       * @return {boolean}
       */
      playRecord() {
        if (this.recordPlayIng && this.recordPlaySource) {
          this.recordPlaySource.stop().close();
          this.recordPlaySource = null;
          return false;
        }
        const context = new (window.AudioContext ||
          window.webkitAudioContext)();
        this.recordPlaySource = context.createBufferSource();
        const read = new FileReader();
        const self = this;
        read.onload = function () {
          // 将arrayBuffer转成audioBuffer
          context.decodeAudioData(
            this.result,
            function (buffer) {
              // 设置数据
              self.recordPlaySource.buffer = buffer;
              // connect到扬声器
              self.recordPlaySource.connect(context.destination);
              self.recordPlaySource.start();
              self.recordPlayIng = true;
              self.$forceUpdate();
              self.recordPlaySource.onended = () => {
                self.recordPlayIng = false;
                self.$forceUpdate();
              };
            },
            function () {
              console.log('error');
            }
          );
        };
        // 利用filereader将file转成arraybuffer格式
        read.readAsArrayBuffer(this.recordFile);
        return null;
      },
      /**
   * 上传控件触发
   * @param obj
   * @param obj.type
   */
  async fileInputTap({ type }) {
    const refName = type
    this.$refs[refName].click();
  },
  // 粘贴截图
  async onPaste(event) {
    let messageContentType = duoxingMessageContentTypeEnum.image;
    const items = event.clipboardData && event.clipboardData.items;
    let file = null;
    if (items && items.length) {
      // 检索剪切板items
      for (let i = 0; i < items.length; i++) {
        if (items[i].kind === 'file') {
          file = items[i].getAsFile();
          if (items[i].type.indexOf('image') === -1) {
            messageContentType = duoxingMessageContentTypeEnum.file;
          }
          break;
        }
      }
    }
    if (!file) {
      return;
    }
    await this.doUiAction('sendMsg', {
      messageContent: JSON.stringify({
        filename: '',
        downloadPath: '',
        binarySize: ''
      }),
      messageContentType,
      file
    });
  },
  // ctrl+enter 新行
  newline() {
    const messageTextareaDom = document.getElementById('messageTextareaId');
    const pos = messageTextareaDom.selectionEnd;
    this.messageTextareaValue =
      this.messageTextareaValue.slice(0, pos) +
      '\n' +
      this.messageTextareaValue.slice(pos);

    this.$nextTick(() => {
      messageTextareaDom.selectionEnd = pos + 1;
    });
  },
  makeMsgTextarearFocus() {
    const messageTextareaDom = document.getElementById('messageTextareaId');
    requestAnimationFrame(() => {
      messageTextareaDom.focus();
      this.mobileMessageTextareaFocus = true
      if (!isMobile) {
        messageTextareaDom.selectionStart =
          messageTextareaDom.selectionEnd =
          this.messageTextareaValue.length;
      }
    });
  },
  /**
   * 发送语音消息
   * @param name.name
   * @param name
   * @param _base64
   * @param messageFingerprint
   * @param name._base64
   * @param name.messageFingerprint
   * @param obj
   */
      async sendAudioMsg(obj = {}) {
        const { name, _base64, messageFingerprint } = obj
        const filename = `recordFile_${_.random(100000, 999999)}.mp3`
        let file = this.recordFile;
        file.name = filename;
        await this.doUiAction('sendMsg', {
          messageContent: JSON.stringify({
            filename,
            downloadPath: '',
            binarySize: ''
          }),
          messageContentType: duoxingMessageContentTypeEnum.audio,
          file,
          messageFingerprint,
        });
        this.recordFile = null;
      },
      getBase64(file) {
        return new Promise(resolve => {
          const reader = new FileReader();
          reader.onload = function () {
            resolve(reader.result);
          };
          reader.readAsDataURL(file);
        });
      },

      // 当选择文件
      async onChooseFile(event) {
        const file = event.target.files[0]
        this.$refs.filePicker.value = null;
        const messageContentType = duoxingMessageContentTypeEnum.file;
        window.vtoast.loading({message: '文件上传中', timer: 300000})
        await this.doUiAction('sendMsg', {
          messageContent: JSON.stringify({
            filename: file.name,
            downloadPath: '',
            binarySize: ''
          }),
          messageContentType,
          file
        });

      },
      // 当选择图片
      async onChooseImage(event) {
        const messageContentType = duoxingMessageContentTypeEnum.image;
        window.vtoast.loading({message: '图片上传中', timer: 300000})
        await this.doUiAction('sendMsg', {
          messageContent: JSON.stringify({
            filename: '',
            downloadPath: await this.getBase64(event.target.files[0]),
            binarySize: ''
          }),
          messageContentType,
          file: event.target.files[0]
        });
        this.$refs.imagePicker.value = null;
      },
      // 当选择视频
      async onChooseVideo(event) {
        const messageContentType = duoxingMessageContentTypeEnum.video;
        await this.doUiAction('sendMsg', {
          messageContent: JSON.stringify({
            filename: '',
            downloadPath: await this.getBase64(event.target.files[0]),
            binarySize: ''
          }),
          messageContentType,
          file: event.target.files[0]
        });
        this.$refs.videoPicker.value = null;
      },
      messageTextareaDomBlur() {
        this.$refs.messageTextareaDom.blur();
      },
      /**
       * 聊天输入框激活
       * @param event
       */
      focusTextArea(event) {
        try {
          // this.doUiAction('scrollToBottom')
          this.mobileMessageTextareaFocus = true
        } catch (e) {
          this.$nextTick(() => {
            this.focusTextArea();
          });
        }
      }
    }
  });
</script>
