<!-- 聊天操作框 -->
<script type="text/x-template" id="_chat-input-widget">
<div
  class="d-flex footer"
  :class="{ 'flex-column': mobExpandChat, 'flex-row-reverse': !mobExpandChat }"
>
  <!--聊天输入框工具栏 >>>>>>>>>>> -->
  <v-toolbar flat class="chatToolbar" v-if="!isMobile">
    <emotion-widget
      :class="{ 'mobExpandChat': isMobile && mobExpandChat}"
      @chooseEmotionItem="onEmotionTap"
    ></emotion-widget>
    <v-btn icon class="fileInputBox" @click="doUiAction('fileInputTap', { type: 'filePicker' })">
      <v-icon>mdi-folder-open-outline</v-icon>
    </v-btn>
    <v-btn icon class="fileInputBox" @click="doUiAction('fileInputTap', { type: 'imagePicker' })">
      <v-icon>mdi-image-outline</v-icon>
    </v-btn>
    <v-spacer />
  </v-toolbar>
  <!--<<<<<<<<<<<< 聊天输入框工具栏 -->
  <!--<<<<<<<<<<<< 聊天输入框 -->
  <div
    class="flex-grow-1 d-flex ml-2"
    :class="{ 'mr-2': isMobile, 'mb-2': isMobile, 'mt-2': isMobile }"
  >
    <v-textarea
      v-model="messageTextareaValue"
      no-resize
      @paste="onPaste"
      id="messageTextareaId"
      :rows="isMobile ? (textareaExpanded ? 3 : 1) : 5"
      row-height="15"
      :autoGrow="isMobile"
      counter="7000"
      :rules="[textareaRules(7000)]"
      placeholder="输入聊天信息，按Enter发送"
      @keydown.enter.exact.prevent
      @keydown.13.exact="() => doUiAction('sendMsg', {})"
      @keydown.229.exact="() => { }"
      @keydown.ctrl.enter.exact="newline"
      dense
      @click="focusTextArea"
      class="ma-0"
      ref="messageTextareaDom"
    />
  </div>
  <!--<<<<<<<<<<<< 聊天输入框 -->
  <!--文件选择-->
  <input ref="filePicker" type="file" class="fileInput" @change="onChooseFile"/>
  <!--图片选择-->
  <input ref="imagePicker" type="file" class="fileInput" accept="image/*" @change="onChooseImage" />
  <!--消息发送-->
  <div class="d-flex ma-2 align-center justify-end">
    <template v-if="mobExpandChat">
      <span class="caption" style="color: #BDBDBD">按 Ctrl+Enter 换行，按 Enter 发送</span>
      <div class="mr-2"></div>
    </template>
    <v-btn depressed color="primary" @mousedown="doUiAction('preventDefault')" @mouseup="doUiAction('sendMsg')">发送</v-btn>
  </div>
</div>
</script>

<script>
window.registerData(
  {
    textareaRules: len => v => (v || '').length < len || `消息内容最长${len}个文字`,
  },
  {
    // 手机端输入框展开
    textareaExpanded() {
      return this.mobExpandChat || (this.messageTextareaValue && this.messageTextareaValue.length);
    }
  }
)

Vue.component('chat-input-widget', {
  template: '#_chat-input-widget',
  mixins: [window.jianghuUiActionMixins],
  data: () => window.vueData,
  vueComponent: 'chatInput',
  computed: window.vueComputed,
  created() {
    this.initMob();
  },
  methods: {
    /**
     * 【doUiAction】fileInputTap
     * 上传控件触发
     * @param obj
     * @param obj.type
     */
    async fileInputTap({type}) {
      const refName = type
      this.$refs[refName].click();
    },

    // 当点击表情时
    onEmotionTap({emotion: {dir, ext}, index}) {
      if (dir === 'face01') {
        // 小号表情
        this.messageTextareaValue = `${this.messageTextareaValue || ''}[emoji_${dir}_${index}.${ext}]`;
      } else {
        // gif表情
        const messageContent = {downloadPath: `/emotion/${dir}/${index}.${ext}`};
        this.doUiAction('sendMsg', {
          messageContent: JSON.stringify(messageContent),
          messageContentType: duoxingMessageContentTypeEnum.image
        })
      }
    },

    // 初始化在手机上的事件
    initMob() {
      if (this.isMobile) {
        // 手机端 打开必定会 启动键盘
        this.registerOnResize();
      }
    },
    // 监听屏幕的高度变化，变相的监听了键盘展开和收起
    registerOnResize() {
      const that = this;
      window.onresize = function () {
        const target = this;
        if (target.resizeFlag) {
          clearTimeout(target.resizeFlag);
        }
        target.resizeFlag = setTimeout(function () {
          that.doUiAction('scrollToBottom')
          target.resizeFlag = null;
        }, 200);
      };
    },

    // 获取粘贴板的截图file
    getFileFromClipboardData(event) {
      let messageContentType = duoxingMessageContentTypeEnum.image;
      const items = event.clipboardData && event.clipboardData.items;
      let file = null;
      if (items && items.length) {
        // 检索剪切板items
        for (let i = 0; i < items.length; i++) {
          if (items[i].kind === 'file') {
            file = items[i].getAsFile();
            if (items[i].type.indexOf('image') === -1) {
              messageContentType = duoxingMessageContentTypeEnum.file;
            }
            break;
          }
        }
      }
      return {file, messageContentType};
    },
    // 粘贴截图
    async onPaste(event) {
      const {file, messageContentType} = this.getFileFromClipboardData(event);
      if (!file) return;
      await this.doUiAction('sendMsg', {
        messageContent: JSON.stringify({
          filename: '',
          downloadPath: '',
          binarySize: ''
        }),
        messageContentType,
        file
      });
    },
    // ctrl+enter 新行
    newline() {
      const messageTextareaDom = document.getElementById('messageTextareaId');
      const position = messageTextareaDom.selectionEnd;
      this.messageTextareaValue =
        this.messageTextareaValue.slice(0, position) +
        '\n' +
        this.messageTextareaValue.slice(position);

      this.$nextTick(() => {
        messageTextareaDom.selectionEnd = pos + 1;
      });
    },

    // 当选择文件
    async onChooseFile(event) {
      const file = event.target.files[0]
      this.$refs.filePicker.value = null;
      const messageContentType = duoxingMessageContentTypeEnum.file;
      window.vtoast.loading({message: '文件上传中'})
      await this.doUiAction('sendMsg', {
        messageContent: JSON.stringify({
          filename: file.name,
          downloadPath: '',
          binarySize: ''
        }),
        messageContentType,
        file
      });

    },
    // 当选择图片
    async onChooseImage(event) {
      const messageContentType = duoxingMessageContentTypeEnum.image;
      window.vtoast.loading({message: '图片上传中'})
      await this.doUiAction('sendMsg', {
        messageContent: JSON.stringify({
          filename: '',
          downloadPath: await window.jianghuAxios.fileToBase64(event.target.files[0]),
          binarySize: ''
        }),
        messageContentType,
        file: event.target.files[0]
      });
      this.$refs.imagePicker.value = null;
    },

    // 聊天输入框激活
    focusTextArea(event) {
      try {
        this.mobileMessageTextareaFocus = true
      } catch (e) {
        this.$nextTick(() => {
          this.focusTextArea();
        });
      }
    }
  }
});
</script>
