<!--聊天对话界面-->
<script type="text/x-template" id="_MiddlePanel">
  <div>
    <!-- 主聊天消息界面 -->
    <v-main class="chatMain mob-app-main">
      <middleNoticeWidget v-if="isMobile"/>
      <ChattingMessagePage
        :sessionId="nowChatSessionId"
        ref="chattingPage"
      />
    </v-main>

    <!-- 消息输入框 -->
    <v-footer
      app
      color="transparent"
      :height="isMoreSelectMode ? 53 : (isMobile ? (textareaExpanded ? 106 : 53) : 274)"
      inset
      fixed
      class="vFooter ma-0 pa-0 mob-app-footer"
      :class="{ 'mobExpandChat': mobExpandChat }"
    >
      <ChatInputWidget
        ref="chatInput"
        v-if="!isMoreSelectMode"
      />
    </v-footer>
  </div>
</script>

<script>
  window.registerData(
    {
      isMoreSelectMode: false, // 开启多选模式
      friendListCtrlType: '',
      currentResendMsg: {},
      mobileMessageTextareaFocus: false // 移动端适配使用的消息输入框焦点状态
    },
    {
      // 指示移动端时是否展开消息输入框
      mobExpandChat() {
        if (this.$vuetify.breakpoint.xs) {
          return this.mobileMessageTextareaFocus;
        }
        return true;
      }
    }
  )


  Vue.component('MiddlePanel', {
    template: '#_MiddlePanel',
    mixins: [ window.jianghuUiActionMixins ],
    data: () => window.vueData,
    vueComponent: 'middlePanel',
    computed: window.vueComputed,
    watch: {
      nowChatSessionId(v) {
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      include() {
        return [ document.querySelector('.emoticon-open-btn') ];
      },
      getChattingPage() {
        return this.$refs.chattingPage;
      },
      getChatInput() {
        return this.$refs.chatInput;
      },
      getTextarea() {
        return this.$refs.messageTextareaDom;
      },
      messageTextareaDomBlur() {
        this.$refs.chatInput.messageTextareaDomBlur();
      },
      clearCheckList() {
        this.$refs.chattingPage.checkList = [];
      },
      /**
       * 撤销消息
       * @param item
       */
      async sendRevokeMsg(item) {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'chat',
              actionId: 'revokeMessage',
              actionData: {
                messageFingerprint: item.messageFingerprint
              }
            }
          }
        });
      },
      // 当引用消息
      onQuoteMsg(item) {
        let messageContent = item.messageContent;
        if (item.messageContentType === duoxingMessageContentTypeEnum.userCard) {
          try {
            messageContent = `[${item.messageContent},,,${item.messageContentType}]`;
          } catch (error) {
            messageContent = item.messageContent;
          }
        } else if (item.messageContentType !== 'text') {
          try {
            messageContent = `[${JSON.parse(item.messageContent).downloadPath
            },,,${item.messageContentType}]`;
          } catch (error) {
            messageContent = item.messageContent;
          }
        }
        this.messageTextareaValue = `${messageContent} \n------------------------\n Re @${item.fromUsername}: `
        this.$refs.chatInput.makeMsgTextarearFocus();
      },
      /**
       * 重新发送消息，弹窗
       * @param selectMsg
       */
      async reSendMsg(selectMsg) {
        this.currentResendMsg = { ...selectMsg };
        const { messageContentType } = this.currentResendMsg;
        if (messageContentType === 'file') {
          await window.confirmDialog({
            title: '文件上传失败,请重新上传文件!',
            confirmColor: 'primary',
            cancelBtn: false
          })
          return;
        }
        if (await window.confirmDialog({
          title: '该消息发送失败，是否重发？',
          confirmColor: 'primary'
        })) {
          this.doReSendMsg();
        }
      },
      /** 重新发送消息 */
      async doReSendMsg() {
        if (window.socket && !window.socket.online) {
          window.vtoast.fail('离线中...，请稍后尝试发送');
          return false;
        }

        if (this.currentResendMsg) {
          await window.socket.emitMsg(
            this.currentResendMsg,
            this.getSendMsgActionId()
          );
          this.$forceUpdate();
          // 成功后
          // console.log('this.currentResendMsg', this.currentResendMsg);
          this.messageTextareaValue = null;
          this.doUiAction('scrollToBottom', { mustToBottom: true })
        }
        return null;
      },
      /**
       * 获取发送消息socket actionID
       * @param forwardType
       */
      getSendMsgActionId(forwardType = 0) {
        if (forwardType === 1) return 'userSendMessageToRoom';
        else if (forwardType === 2) return 'userSendMessageToUser';
        return this.isRoom
          ? 'userSendMessageToRoom'
          : 'userSendMessageToUser';
      },
      async uploadFileMsg(
        file,
        tempParams,
        socketParams
      ) {
        let uploadResult;
        const fileDirectory = getUploadDirectory(userInfo.userId || 'chatFile');
        // 文件流
        if (file) {
          try {
            // 使用 progress-linear https://vuetifyjs.com/zh-Hans/components/progress-linear/#section-989c8272
            const that = this
            this.getChattingPage().refreshChatItem({
              ...tempParams,
              progress: 1
            });
            uploadResult = await window.jianghuAxios.httpUploadByStream({ file, fileDirectory,
              onProgress: (total, loaded) => {
                let progress = Number((loaded * 100 / total).toFixed(2))
                if (progress == 100) {
                  progress = 99
                }
                that.getChattingPage().refreshChatItem({
                  ...tempParams,
                  progress
                });
              }
            })
          } catch (err) {
            console.log(err)
          }
          this.getChattingPage().refreshChatItem({
            ...tempParams,
            progress: 100
          });
        }
        return uploadResult;
      },
      async sendMsg(
        {
          messageContent = this.messageTextareaValue || '',
          messageContentType = 'text',
          messageFingerprint = uuid(),
          file = null,
          targetUserId = null
        },
        update = true,
        forwardType = 0
      ) {
        this.doUiAction('scrollToBottom')
        // 不在线，不发送
        if (window.socket && window.socket.online === false) {
          window.vtoast.fail('离线中...，请稍后尝试发送');
          return;
        }
        // 超过7000个字，不发送
        if (messageContent.length > 7000 && messageContentType === 'text') {
          window.vtoast.fail('消息内容长度不得超过7000个文字', false, 'bottom');
          return;
        }
        // 消息内容为空
        if (messageContentType === 'text' && !messageContent) {
          return;
        }

        const socketParams = {
          messageContent,
          messageContentType,
          toUserId: targetUserId || this.nowChatSessionId,
          toRoomId: targetUserId || this.nowChatSessionId,
          messageFingerprint
        };
        const tempParams = {
          ...socketParams,
          fromUserId: global.user.userId,
          fromUsername: global.user.username,
          fromUserAvatar: global.user.userAvatar,
          loading: true,
          process: 0
        };
        // 先更新一个 loading 消息
        this.getChattingPage().refreshMessage(tempParams, update);
        setTimeout(
          () => {
            if (tempParams.loading === true) {
              tempParams.loading = false;
              tempParams.error = true;
            }
          },
          file ? 5000000 : 3000
        );

        if (file) {
          const uploadResult = await this.uploadFileMsg(
            file,
            tempParams,
            socketParams
          );
          if (
            !uploadResult ||
            !uploadResult.data.appData.resultData.filename ||
            !uploadResult.data.appData.resultData.downloadPath ||
            !uploadResult.data.appData.resultData.binarySize
          ) {
            this.getChattingPage().refreshMessage(
              {
                ...tempParams,
                loading: false,
                error: true
              },
              update
            );
          } else {
            const { filename, downloadPath, binarySize } = uploadResult.data.appData.resultData;
            socketParams.messageContent = JSON.stringify({
              filename,
              downloadPath,
              binarySize
            });
            await window.socket.emitMsg(
              socketParams,
              this.getSendMsgActionId(forwardType)
            );
          }
        } else {
          await window.socket.emitMsg(
            socketParams,
            this.getSendMsgActionId(forwardType)
          );
        }
        this.$forceUpdate();
        // 成功后
        // console.log('socketParams', socketParams);
        this.messageTextareaValue = '';
        window.vtoast.dismiss();
        this.doUiAction('scrollToBottom', { mustToBottom: true })
      },
      /**
       * 已读
       * @return {Promise<void>}
       */
      async delMessageOffline() {
        const chatId = this.nowChatSessionId
        if (this.chatListBackUps) {
          const clickChatSession = this.chatListBackUps.find(
            chatSession => chatSession.chatId === chatId
          );
          if (clickChatSession && clickChatSession.offlineMessageCount) {
            clickChatSession.offlineMessageCount = 0;
            await window.jianghuAxios({
              data: {
                appData: {
                  pageId: 'chat',
                  actionId: 'delMessageOffline',
                  actionData: {
                    messageType: clickChatSession.messageType,
                    userIdOrRoomId: `${chatId}`
                  }
                }
              }
            });
          }
        }
      }
    }
  });
</script>
<style>
@media screen and (max-width: 600px) {
  .chatMain .v-main__wrap {
    display: flex;
    flex-direction: column;
  }
  .chatMain .v-main__wrap .chattingPage {
    flex: 1;
  }
}
</style>
