<!--聊天对话界面-->
<script type="text/x-template" id="_chatting-page">
<load-more
  ref="chattingPage" :sessionId="sessionId"
  :handler="getNextChatHistoryList"
  class="chattingPage py-sm-3 px-sm-7 pa-2"
  @onScrollToBottom="newMsgCount = 0">
<template v-if="sessionId">
  <template v-if="chatHistoryList && chatHistoryList.length > 0">
    <div v-for="(item, index) in chatHistoryListReverse" style="display:flex" :key="item.messageFingerprint">
      <div class="messageItem" :class="{ 'isFromMe': isFromMe(item) }" style="flex:1">
        <template v-if="item.noticeType">
          <div class="noticeMsg">{{ item.messageContent }}</div>
        </template>
        <template v-else>
          <v-avatar size="40px" class="ma-2 mt-1">
            <v-img :src="upload + item.fromUserAvatar">
              <template v-slot:placeholder>
                <v-icon size="45" style="opacity: 0.2">mdi-account-circle</v-icon>
              </template>
            </v-img>
          </v-avatar>
          <v-icon
            class="msgArrow"
            :class="{ 'isFromMe': isFromMe(item) }"
            :color="isFromMe(item) && (item.messageContentType === 'text' || item.messageContentType === 'audio') ? '#cceaff' : 'white'"
          >mdi-menu-left</v-icon>
          <div class="messageItemBox">
            <div class="username" :class="{ 'isFromMe': isFromMe(item) }">
              <span>{{ item.fromUsername }}</span>
              <span
                class="mr-2 ml-2"
                style="font-size: 12px; color: #999999"
              >{{ formatChatTime(item.messageTimeString) }}</span>
            </div>
            <div class="messageLine d-flex" :class="{ 'isFromMe': isFromMe(item) }">
              <text-message
                v-if="item.messageContentType === 'text'"
                :content="item.messageContent"
                :id="item.messageFingerprint"
              />
              <image-message
                v-if="item.messageContentType === 'image'"
                :progress="item.progress"
                :content="item.messageContent"
                :id="item.messageFingerprint"
                @load-complete="doUiAction('scrollToBottom')"
              />
              <file-message
                v-if="item.messageContentType === 'file'"
                :progress="item.progress"
                :content="item.messageContent"
                :id="item.messageFingerprint"
              />
              <template
                v-if="item.loading || item.progress && item.progress > 0 && item.progress < 100"
              >
                <v-progress-circular indeterminate :size="15" :width="3" color="primary"></v-progress-circular>
              </template>
              <v-icon
                color="red"
                v-else-if="item.error === true"
                small
                @click="doUiAction('startResendMsg', item)"
              >mdi-alert-circle
              </v-icon>
              <v-spacer></v-spacer>
            </div>
          </div>
          <v-spacer />
        </template>
      </div>
    </div>
  </template>
</template>
<div class="newMsgCount" v-if="newMsgCount" @click="scrollToBottom()">有{{ newMsgCount }}条新消息</div>
</load-more>
</script>
<script>
window.registerData(
  {
    noticeType: [],
    chatHistoryList: null,
    newMsgCount: 0,
    upload: window.appInfo.upload,
    public: window.appInfo.public,
  },
  {
    chatHistoryListReverse() {
      return this.chatHistoryList
        ? this.chatHistoryList.slice().reverse()
        : [];
    },
    lastId() {
      if (_.isEmpty(this.chatHistoryList)) {
        return 0;
      }
      return this.chatHistoryList.slice(-1)[0].id;
    },
  }
)


Vue.component('chatting-page', {
  template: '#_chatting-page',
  mixins: [window.jianghuUiActionMixins],
  data: () => window.vueData,
  vueComponent: 'chatSession',
  computed: window.vueComputed,
  props: ["sessionId"],
  watch: {
    sessionId(value) {
      this.chatHistoryList = [];
    }
  },
  created() {
    this.doUiAction('delMessageOffline')
  },

  mounted() {
    const that = this;
    setTimeout(() => {
      window.document.querySelector('.chattingPage').onscroll = function () {
        that.newMsgCount = 0;
      };
    }, 300);
  },
  methods: {

    onPageScroll(event) {
      if (event.target.scrollTop === 0) {
        this.loadMore();
      }
    },
    // 断线重连监听
    async onSocketReConnect({hasError}) {
      console.log("断线重连监听:middleChatMessageWidget", hasError)
      if (hasError) {
        this.getNextChatHistoryList();
        this.doUiAction('delMessageOffline')
      }
    },
    dayjs: window.dayjs,
    // 更新单条消息
    updateMessageItem({message, insert = true}) {
      // 合并新消息
      let msgExist = false;
      if (this.chatHistoryList) {
        this.chatHistoryList = this.chatHistoryList.map(v => {
          // 如果消息已经存在，直接更新消息内容
          if (v.messageFingerprint === message.messageFingerprint) {
            // 发送消息，可能不是好友，或其他错误
            msgExist = true;
            v = {...message};
          }
          return v;
        });
      }
      // 插入新消息
      if(insert) {
        if(!this.chatHistoryList) {
          this.chatHistoryList = [];
        }
        if (!msgExist) {
          // 如果消息不存在，将消息加到最后
          const isBottom = this.getPagePositionIsAtBottom();
          this.chatHistoryList.unshift(message);
          if (isBottom) {
            this.newMsgCount = 0;
            this.doUiAction('scrollToBottom');
          } else {
            this.newMsgCount += 1;
          }
        }
      }
      // 删除已读
      if (!message.loading && !message.error) {
        this.doUiAction('delMessageOffline')
      }
    },
    // 判断滚动位置是否最下方
    getPagePositionIsAtBottom() {
      return this.$refs.chattingPage.scrollTop >
        this.$refs.chattingPage.scrollHeight -
        this.$refs.chattingPage.offsetHeight -
        30;
    },
    // 我自己
    isFromMe(item) {
      return item.fromUserId === userInfo.userId;
    },
    // 获取历史消息接口
    async getMessageHistoryRequest(lastId, userIdOrRoomId) {
      return (
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'chat',
              actionId: 'getMessageHistory',
              actionData: {
                lastId,
                pageSize: 15,
                messageType: this.isRoom ? 'room' : 'user',
                userIdOrRoomId: userIdOrRoomId
              }
            }
          }
        })
      ).data.appData.resultData;
    },
    // 获取历史消息，处理加载状态
    async getNextChatHistoryList() {
      const result = await this.getMessageHistoryRequest(this.lastId, this.sessionId);
      return new Promise(resolve => {
        setTimeout(() => {
          if (this.lastId !== 0) {
            this.chatHistoryList.push(...result.rows);
          } else {
            // 第一次加载，滚动到最后
            this.chatHistoryList = result.rows;
            this.doUiAction('scrollToBottom', {mustToBottom: true});
          }
          let loadState = this.setLoadState(result);
          resolve(loadState);
        })
      })
    },
    setLoadState(result) {
      if (result.rows.length === 0) {
        return 'empty';
      }
      if (result.rows.length > 0 && result.rows.length < 15) {
        return 'finish';
      }
      if (result.rows.length === 15) {
        return 'complete';
      }
    },
    //
    scrollToBottom({mustToBottom}) {
      this.$refs.chattingPage.scrollToBottom({mustToBottom});
    },

    /**
     * 重新发送消息，弹窗
     * @param selectMsg
     */
    async startResendMsg(selectMsg) {
      this.currentResendMsg = { ...selectMsg };
      const { messageContentType } = this.currentResendMsg;
      if (messageContentType === 'file') {
        await window.confirmDialog({
          title: '文件上传失败,请重新上传文件!',
          confirmColor: 'primary',
          cancelBtn: false
        })
        return;
      }
      if (await window.confirmDialog({
        title: '该消息发送失败，是否重发？',
        confirmColor: 'primary'
      })) {
        this.doReSendMsg();
      }
    },
    /** 重新发送消息 */
    async doReSendMsg() {
      if (window.socket && !window.socket.online) {
        window.vtoast.fail('离线中...，请稍后尝试发送');
        return false;
      }

      if (this.currentResendMsg) {
        await window.socket.emitMsg(this.currentResendMsg);
        this.$forceUpdate();
        // 成功后
        // console.log('this.currentResendMsg', this.currentResendMsg);
        this.messageTextareaValue = null;
        this.doUiAction('scrollToBottom', { mustToBottom: true })
      }
      return null;
    },
    formatChatTime(time){
      time = this.dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      const date = time.toString();
      const year = date.split('-')[0];
      const month = date.split('-')[1];
      const day = date.split('-')[2];
      const d1 = new Date(year + '/' + month + '/' + day.split(' ')[0]);
      const d3 = new Date(date.replace(/-/g, '/'));
      const dd = new Date();
      const y = dd.getFullYear();
      const m = dd.getMonth() + 1;
      const d = dd.getDate();
      const d2 = new Date(y + '/' + m + '/' + d);
      const iday = parseInt(d2 - d1) / 1000 / 60 / 60 / 24;
      let hours = d3.getHours();
      let minutes = d3.getMinutes();
      if (minutes < 10) {
        minutes = '0' + minutes;
      }
      if (hours < 10) {
        hours = '0' + hours;
      }
      if (iday === 0) {
        if (hours >= 12) {
          return '下午 ' + hours + ':' + minutes;
        }
        return '上午 ' + hours + ':' + minutes;

      } else if (iday === 1) {
        let dt = '';
        if (hours >= 12) {
          dt = '下午 ' + hours + ':' + minutes;
        } else {
          dt = '上午 ' + hours + ':' + minutes;
        }
        return '昨天 ' + dt;
      } else if (iday === 2) {
        let dt = '';
        if (hours >= 12) {
          dt = '下午 ' + hours + ':' + minutes;
        } else {
          dt = '上午 ' + hours + ':' + minutes;
        }
        return '前天 ' + dt;
      }
      return year + '/' + month + '/' + d1.getDate()
    },
  }
});
</script>
<style>

.noticeMsg {
  width: 100%;
  line-height: 50px;
  font-size: 13px;
  color: #999999;
  text-align: center;
}

.chattingPage {
  margin-top: 0.1%;
  background: #f5f7fa;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  height: 99.8%;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding-top: 40px !important;
}

.chattingPage::-webkit-scrollbar {
  width: 5px;
}

.chattingPage::-webkit-scrollbar-thumb {
  width: 3px;
  background: #e1e1e1;
}

.chattingPage::-webkit-scrollbar-track {
  width: 5px;
  background: #f1f1f1;
}

.chattingPage .messageItem {
  display: flex;
  align-items: start;
  margin: 10px 0;
}

.chattingPage .messageItem quote {
  padding: 4px;
  margin-bottom: 4px;
  font-size: 13px;
  background: #f0f6f6;
  display: block;
  font-style: italic;
}

.chattingPage .messageItem.isFromMe quote {
  padding: 4px;
  margin-bottom: 4px;
  font-size: 13px;
  background: #e6f8f7;
  display: block;
  font-style: italic;
}

.chattingPage .messageItem.isFromMe {
  flex-direction: row-reverse;
}

.chattingPage .messageItem.isFromMe .message {
  background: #cceaff;
  word-break: break-word;
}

.textContent {
  word-break: break-word;
}

.chattingPage .messageItem.isFromMe .messageItemBox {
  align-items: flex-end;
}

.messageItemBox {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.chattingPage .messageItem.isFromMe .username {
  text-align: right;
}

.chattingPage .messageItem .v-icon.msgArrow {
  padding: 0;
  width: 4px;
  height: 4px;
  line-height: 4px;
  text-align: center;
  margin-top: 25px;
}

.chattingPage .messageItem .v-icon.isFromMe {
  transform: rotate(180deg);
}

.username.isFromMe {
  flex-direction: row-reverse;
}

.messageLine {
  justify-content: start;
}

.messageLine.isFromMe {
  flex-direction: row-reverse;
}

.username {
  display: flex;
  color: #666666;
  font-size: 12px;
}

.newMsgCount {
  position: fixed;
  bottom: 289px;
  left: 50%;
  background-color: #cccccc;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
}
</style>
