{% include 'component/jhConfirmDialog.html' %}
<script type="text/x-template" id="_VersionCheck">
  <div>
  </div>
</script>

<script>
  Vue.component("VersionCheck", {
    template: "#_VersionCheck",
    vuetify: new Vuetify(),
    name: "VersionCheck",
    data() {
      return {
        isFirstVersionCheck: true,
      };
    },
    created() { },
    mounted() {
      this.versionCheck();
      setInterval(async () => {
        await this.versionCheck();
      }, 10000);
    },
    methods: {
      // 版本号
      async versionCheck() {
        const versionConstantKey = "version";
        const constantKeyList = [versionConstantKey];
        const data = (
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: "allPage",
                actionId: "getConstantList",
                whereIn: {
                  constantKey: constantKeyList,
                },
              },
            },
          })
        ).data.appData;
        const { rows: constantList } = data;
        const constantMap = {};
        constantList.forEach((v) => {
          constantMap[v.constantKey] = JSON.parse(v.constantValue);
        });
        const serverVersion = constantMap.version;
        const localVersion =
          localStorage.getItem(versionConstantKey) || "1.0.0";
        if (serverVersion) {
          const { version, title, note } = serverVersion;
          const versionNumbers = version.split(".");
          const localVersionNumbers = localVersion.split(".");
          const versionNumber =
            versionNumbers[0] * 1000000 +
            versionNumbers[1] * 10000 +
            versionNumbers[2] * 100;
          const localVersionNumber =
            localVersionNumbers[0] * 1000000 +
            localVersionNumbers[1] * 10000 +
            localVersionNumbers[2] * 100;
          if (!version || versionNumber <= localVersionNumber) {
            return;
          }

          // 如果是第一次加载则 直接 覆盖version
          if (!localVersion || this.isFirstVersionCheck === true) {
            this.isFirstVersionCheck = false;
            return;
          }

          const dialogDone = await window.confirmDialog({ title, content: note });
          if (!dialogDone) {
            return false;
          }
          localStorage.setItem(versionConstantKey, version);
          this.versionConfirm();
        }
      },
      versionConfirm() {
        window.location.href = location.href;
      },
    },
  });
</script>