<script src="/<$ ctx.app.config.appId $>/public/js/lib/lodash.min.js"></script>
<script>
  let userInfo;
  const global = {
    user: {},
    userRoomRoleList: [],
    allowPageList: [],
    allowUiLevelList: []
  }
  window.touchIng = false;
  let historyNowPage;


  const isMobile = window.innerWidth < 500;

  const preventDefault = e => {
    // 现代浏览器阻止默认事件
    if (e && e.preventDefault) { e.preventDefault(); }
    return false;
  }

  const getTextContent = (messageContent, replaceChat = null, notice) => {
    let newContent = messageContent
    // []内容处理
    const m = newContent.match(/\[[^[|^\]]+\]/g)
    if (m) {
      for (const i in m) {
        // 映射表中存在这个表情吗？
        // 新版表情
        if (notice) {
          newContent = newContent.replace(m[i], '[表情]');
        } else {
          if (m[i].includes('[emoji_')) {
            newContent = newContent
              .replace(m[i], `<img src="/${window.appInfo.appId}/public/emotion/` + ((m[i].replace('[', '').replace(']', '').replace('emoji_', '')
                .replace('_', '/'))) + // [emoji_face01_46.png]
                '" width="25" style="display: inline;vertical-align: text-bottom;">')
          }
        }

        if (m[i].includes(',,,')) {
          const msgArr = m[i].replace('[', '').replace(']', '').split(',,,');
          const emotion = msgArr[0].includes('/emotion/');
          if (msgArr[1] === 'userCard') {
            newContent = newContent.replace(m[i], '[名片]');
          }
          if (msgArr[1] === 'image') {
            newContent = newContent.replace(m[i], notice ? '[图片]' : `<img src="/${window.appInfo.appId}/${emotion ? 'public' : 'upload'}/${msgArr[0]}" width="${replaceChat ? '50' : '20'}" style="display: inline;vertical-align: text-bottom;">`);
          }
          if (msgArr[1] === 'audio') {
            newContent = newContent.replace(m[i], '[语音]<span class="playIcon" onclick="playAudio(\'' + msgArr[0] + '\')"></span>');
          }
          if (msgArr[1] === 'file') {
            newContent = newContent.replace(m[i], '[文件]' + msgArr[0]);
          }
          if (msgArr[1] === 'video') {
            newContent = newContent.replace(m[i], '[视频]');
          }
        }
      }
    }
    const hrefReg = newContent.match(/[a-zA-z]+:\/\/[a-zA-z0-9\/.%=&_\-?:]*/g);
    if (hrefReg && replaceChat) {
      for (const i in hrefReg) {
        newContent = newContent.replace(hrefReg[i], `<a href="${hrefReg[i]}" target="_blank">${hrefReg[i]}</a>`);
      }
    }

    if (!notice) {
      if (newContent.includes('\n------------------------\n Re @')) {
        const index = newContent.lastIndexOf('\n------------------------\n Re @')
        const quotePart = newContent.slice(0, index);
        const contentPart = newContent.slice(index + '\n------------------------\n '.length)
        newContent = `<quote>${quotePart}</quote>${contentPart}`;
      }
    } else {
      if (newContent.includes('\n------------------------\n Re @')) {
        const index = newContent.lastIndexOf('\n------------------------\n Re @')
        const contentPart = newContent.slice(index + '\n------------------------\n '.length)
        if (contentPart) {
          newContent = contentPart;
        }
      }
    }

    // 换行符号替换
    if (newContent.includes('\n')) {
      newContent = newContent.replace(/\n/g, replaceChat || ' ');
    }
    // 引用符号替换
    if (newContent.includes('------------------------') && !replaceChat) {
      newContent = newContent.replace(/------------------------/g, replaceChat || ' re:');
    }
    return newContent
  }

  function playAudio(url) {
    const audio = new Audio(window.appInfo.upload + url);
    if (audio.networkState !== 3) { audio.play(); }
  }

  // just key: get, key And value: set
  const webOptions = (key, value) => {
    const webOptions = JSON.parse(localStorage.getItem("webOptions") || "{}");
    if(key && value !== undefined) {
      Object.assign(webOptions, {
        [key]: value
      });
      localStorage.setItem("webOptions", JSON.stringify(webOptions));
      console.log(localStorage.getItem("webOptions"))
    }
    if(key && value === undefined) {
      console.log(key, webOptions[key])
      return webOptions[key];
    }
  }


  const getMessageContent = (data, notice = false) => {
    if (data.messageStatus === 'revoke') {
      return '撤回消息';
    }
    switch (data.messageContentType) {
      case 'image':
        return '[图片消息]';
      case 'audio':
        return '[语音消息]';
      case 'video':
        return '[视频消息]';
      case 'userCard':
        return '[名片消息]';
      case 'file':
        return '[文件消息]';
      default:
        if(data.messageContent) {
          return getTextContent(data.messageContent, null, notice);
        }
        return data.messageContent;
    }
  }

  const getDataId = item => {
    if (item) {
      // TODO: 后面后端接口数据重构好后， 都改成chatId
      if (item.hasOwnProperty('messageType')) {
        if (item.chatId) {
          return item.chatId;
        }
        return item.messageType === 'room' ? item.toRoomId : (item.fromUserId === userInfo.userId ? item.toUserId : item.fromUserId);
      }
      return item.roomId || item.friendId;
    }
    return null;
  }

  const formatChatTime = time => {
    time = this.dayjs(time).format('YYYY-MM-DD HH:mm:ss')
    const date = time.toString();
    const year = date.split('-')[0];
    const month = date.split('-')[1];
    const day = date.split('-')[2];
    const d1 = new Date(year + '/' + month + '/' + day.split(' ')[0]);
    const d3 = new Date(date.replace(/-/g, '/'));
    const dd = new Date();
    const y = dd.getFullYear();
    const m = dd.getMonth() + 1;
    const d = dd.getDate();
    const d2 = new Date(y + '/' + m + '/' + d);
    const iday = parseInt(d2 - d1) / 1000 / 60 / 60 / 24;
    let hours = d3.getHours();
    let minutes = d3.getMinutes();
    if (minutes < 10) {
      minutes = '0' + minutes;
    }
    if (hours < 10) {
      hours = '0' + hours;
    }
    if (iday === 0) {
      if (hours >= 12) {
        return '下午 ' + hours + ':' + minutes;
      }
      return '上午 ' + hours + ':' + minutes;

    } else if (iday === 1) {
      let dt = '';
      if (hours >= 12) {
        dt = '下午 ' + hours + ':' + minutes;
      } else {
        dt = '上午 ' + hours + ':' + minutes;
      }
      return '昨天 ' + dt;
    } else if (iday === 2) {
      let dt = '';
      if (hours >= 12) {
        dt = '下午 ' + hours + ':' + minutes;
      } else {
        dt = '上午 ' + hours + ':' + minutes;
      }
      return '前天 ' + dt;
    }
    return year + '/' + month + '/' + d1.getDate()
  }

  const getUploadDirectory = (directoryName) => {
    return `${directoryName}/${new Date().getFullYear()}/${new Date().getMonth() + 1}/${new Date().getDate()}/`
  }

  const duoxingMessageContentTypeEnum = Object.freeze({
    text: 'text',
    atText: 'atText',
    image: 'image',
    file: 'file',
    notice: 'notice',
    audio: 'audio',
    video: 'video',
    userCard: 'userCard',
    revoke: 'revoke'
  })

  const base64ToFile = ({ base64, name }) => {
    var arr = base64.split(','),
      mime = arr[0].match(/:(.*?);/)[1],
      bstr = atob(arr[1]),
      n = bstr.length,
      u8arr = new Uint8Array(n);
    while (n--) {
      u8arr[n] = bstr.charCodeAt(n);
    }
    const theBlob = new Blob([u8arr], { type: mime });
    theBlob.lastModifiedDate = new Date();
    theBlob.name = name;
    return theBlob;
  }

  const uuid = (t = 21) => {
    let e = ''
    const crypto = window.crypto || window.msCrypto
    const r = crypto.getRandomValues(new Uint8Array(t));
    for (; t--;) {
      // eslint-disable-next-line no-bitwise
      const n = 63 & r[t];
      e += n < 36 ? n.toString(36) : n < 62 ? (n - 26).toString(36).toUpperCase() : n < 63 ? '_' : '-'
    }
    return e
  }

  /**
   * 数据排序，按字母
   * get data
   * @param data
   * @param key
   */
  const sortList = (data, key) => {
    data.sort((a, b) => {
      return ConvertPinyin((a[key] || '').substring(0, 1)).substring(0, 1).toLowerCase()
        .charCodeAt(0) - ConvertPinyin((b[key] || '').substring(0, 1)).substring(0, 1).toLowerCase()
          .charCodeAt(0);
    })
  }

  const refreshUserInfo = async () => {
    const data = (await window.jianghuAxios({
      data: {
        appData: {
          pageId: 'allPage',
          actionId: 'userInfo'
        }
      }
    })).data.appData.resultData
    const { user, userRoomRoleList, allowPageList, allowUiLevelList } = data;

    localStorage.setItem(window.appInfo.appId + '_userInfo', JSON.stringify(user))
    global.user = userInfo = user;
    userRoomRoleList.forEach(userRoomRole => {
      try {
        if (userRoomRole.roomExtend) {
          userRoomRole.roomExtend = JSON.parse(userRoomRole.roomExtend);
        } else {
          userRoomRole.roomExtend = {};
        }
      } catch (error) {
        userRoomRole.roomExtend = {};
      }
    });
    sortList(userRoomRoleList, 'roomName');
    global.userRoomRoleList = userRoomRoleList && userRoomRoleList.slice();
    global.allowPageList = allowPageList && allowPageList.slice();
    // TODO: 目前还没有启用
    global.allowUiLevelList = allowUiLevelList && allowUiLevelList.slice();
  }

</script>
